openapi: 3.1.0
info:
  contact:
    email: cloud@salad.com
    name: SaladCloud Support
    url: https://salad.com
  description: "The SaladCloud REST API. Please refer to the [SaladCloud API Documentation](https://docs.salad.com/api-reference)\
    \ for more details."
  license:
    name: MIT License
  termsOfService: https://salad.com/terms
  title: SaladCloud API
  version: 0.9.0-alpha.11
servers:
- url: https://api.salad.com/api/public
security:
- ApiKeyAuth: []
tags:
- description: Container Groups
  name: container_groups
- description: Inference Endpoints
  name: inference_endpoints
- description: Auxiliary organization data and info
  name: organization_data
- description: Job Queues
  name: queues
- description: quotas
  name: quotas
- description: Workload Errors
  name: workload_errors
- description: System Logs
  name: system_logs
- description: Webhook Secret Key
  name: webhook_secret_key
paths:
  /organizations/{organization_name}/projects/{project_name}/containers:
    description: Operations for container groups
    get:
      description: Gets the list of container groups
      operationId: list_container_groups
      parameters:
      - $ref: '#/components/parameters/organization_name'
      - $ref: '#/components/parameters/project_name'
      responses:
        "200":
          $ref: '#/components/responses/ListContainerGroups'
        "429":
          $ref: '#/components/responses/429'
        default:
          $ref: '#/components/responses/UnknownError'
      summary: List Container Groups
      tags:
      - container_groups
    parameters:
    - $ref: '#/components/parameters/organization_name'
    - $ref: '#/components/parameters/project_name'
    post:
      description: Creates a new container group
      operationId: create_container_group
      parameters:
      - $ref: '#/components/parameters/organization_name'
      - $ref: '#/components/parameters/project_name'
      requestBody:
        $ref: '#/components/requestBodies/CreateContainerGroup'
      responses:
        "201":
          $ref: '#/components/responses/CreateContainerGroup'
        "400":
          $ref: '#/components/responses/400'
        "403":
          $ref: '#/components/responses/403'
        "429":
          $ref: '#/components/responses/429'
        default:
          $ref: '#/components/responses/UnknownError'
      summary: Create Container Group
      tags:
      - container_groups
      x-liblab-resource: ContainerGroup#Create
    summary: Container Groups
  /organizations/{organization_name}/projects/{project_name}/containers/{container_group_name}:
    delete:
      description: Deletes a container group
      operationId: delete_container_group
      parameters:
      - $ref: '#/components/parameters/organization_name'
      - $ref: '#/components/parameters/project_name'
      - $ref: '#/components/parameters/container_group_name'
      responses:
        "202":
          $ref: '#/components/responses/DeleteContainerGroup'
        "403":
          $ref: '#/components/responses/403'
        "404":
          $ref: '#/components/responses/404'
        "429":
          $ref: '#/components/responses/429'
        default:
          $ref: '#/components/responses/UnknownError'
      summary: Delete Container Group
      tags:
      - container_groups
      x-liblab-resource: ContainerGroup#Delete
    description: Operations for a container group
    get:
      description: Gets a container group
      operationId: get_container_group
      parameters:
      - $ref: '#/components/parameters/organization_name'
      - $ref: '#/components/parameters/project_name'
      - $ref: '#/components/parameters/container_group_name'
      responses:
        "200":
          $ref: '#/components/responses/GetContainerGroup'
        "404":
          $ref: '#/components/responses/404'
        "429":
          $ref: '#/components/responses/429'
        default:
          $ref: '#/components/responses/UnknownError'
      summary: Get Container Group
      tags:
      - container_groups
      x-liblab-datasource: ContainerGroup#Read
      x-liblab-resource: ContainerGroup#Read
    parameters:
    - $ref: '#/components/parameters/organization_name'
    - $ref: '#/components/parameters/project_name'
    - $ref: '#/components/parameters/container_group_name'
    patch:
      description: Updates a container group
      operationId: update_container_group
      parameters:
      - $ref: '#/components/parameters/organization_name'
      - $ref: '#/components/parameters/project_name'
      - $ref: '#/components/parameters/container_group_name'
      requestBody:
        $ref: '#/components/requestBodies/UpdateContainerGroup'
      responses:
        "200":
          $ref: '#/components/responses/UpdateContainerGroup'
        "400":
          $ref: '#/components/responses/400'
        "403":
          $ref: '#/components/responses/403'
        "404":
          $ref: '#/components/responses/404'
        "429":
          $ref: '#/components/responses/429'
        default:
          $ref: '#/components/responses/UnknownError'
      summary: Update Container Group
      tags:
      - container_groups
      x-liblab-resource: ContainerGroup#Update
    summary: Container Group
  /organizations/{organization_name}/projects/{project_name}/containers/{container_group_name}/errors:
    description: Operations for workload errors
    get:
      deprecated: true
      description: Gets the workload errors. This has been deprecated and will be
        replaced by the new System Logs endpoint. See `/system-logs`.
      operationId: get_workload_errors
      parameters:
      - $ref: '#/components/parameters/organization_name'
      - $ref: '#/components/parameters/project_name'
      - $ref: '#/components/parameters/container_group_name'
      responses:
        "200":
          $ref: '#/components/responses/ListWorkloadErrors'
        "404":
          $ref: '#/components/responses/404'
        "429":
          $ref: '#/components/responses/429'
        default:
          $ref: '#/components/responses/UnknownError'
      summary: Get Workload Errors
      tags:
      - workload_errors
    parameters:
    - $ref: '#/components/parameters/organization_name'
    - $ref: '#/components/parameters/project_name'
    - $ref: '#/components/parameters/container_group_name'
    summary: Workload Errors
  /organizations/{organization_name}/projects/{project_name}/containers/{container_group_name}/system-logs:
    description: Operations for System Logs
    get:
      description: Gets the System Logs
      operationId: get_system_logs
      parameters:
      - $ref: '#/components/parameters/organization_name'
      - $ref: '#/components/parameters/project_name'
      - $ref: '#/components/parameters/container_group_name'
      responses:
        "200":
          $ref: '#/components/responses/ListSystemLogs'
        "404":
          $ref: '#/components/responses/404'
        "429":
          $ref: '#/components/responses/429'
        default:
          $ref: '#/components/responses/UnknownError'
      summary: Get System Logs
      tags:
      - system_logs
    parameters:
    - $ref: '#/components/parameters/organization_name'
    - $ref: '#/components/parameters/project_name'
    - $ref: '#/components/parameters/container_group_name'
    summary: System Logs
  /organizations/{organization_name}/projects/{project_name}/containers/{container_group_name}/start:
    description: Operations for a container group
    parameters:
    - $ref: '#/components/parameters/organization_name'
    - $ref: '#/components/parameters/project_name'
    - $ref: '#/components/parameters/container_group_name'
    post:
      description: Starts a container group
      operationId: start_container_group
      parameters:
      - $ref: '#/components/parameters/organization_name'
      - $ref: '#/components/parameters/project_name'
      - $ref: '#/components/parameters/container_group_name'
      responses:
        "202":
          $ref: '#/components/responses/StartContainerGroup'
        "400":
          $ref: '#/components/responses/400'
        "403":
          $ref: '#/components/responses/403'
        "429":
          $ref: '#/components/responses/429'
        default:
          $ref: '#/components/responses/UnknownError'
      summary: Start Container Group
      tags:
      - container_groups
    summary: Container Group
  /organizations/{organization_name}/projects/{project_name}/containers/{container_group_name}/stop:
    description: Operations for a container group
    parameters:
    - $ref: '#/components/parameters/organization_name'
    - $ref: '#/components/parameters/project_name'
    - $ref: '#/components/parameters/container_group_name'
    post:
      description: Stops a container group
      operationId: stop_container_group
      parameters:
      - $ref: '#/components/parameters/organization_name'
      - $ref: '#/components/parameters/project_name'
      - $ref: '#/components/parameters/container_group_name'
      responses:
        "202":
          $ref: '#/components/responses/StopContainerGroup'
        "400":
          $ref: '#/components/responses/400'
        "403":
          $ref: '#/components/responses/403'
        "429":
          $ref: '#/components/responses/429'
        default:
          $ref: '#/components/responses/UnknownError'
      summary: Stop Container Group
      tags:
      - container_groups
    summary: Container Group
  /organizations/{organization_name}/projects/{project_name}/containers/{container_group_name}/instances:
    description: Operations for container group instances
    get:
      description: Gets the list of container group instances
      operationId: list_container_group_instances
      parameters:
      - $ref: '#/components/parameters/organization_name'
      - $ref: '#/components/parameters/project_name'
      - $ref: '#/components/parameters/container_group_name'
      responses:
        "200":
          $ref: '#/components/responses/ListContainerGroupInstances'
        "404":
          $ref: '#/components/responses/404'
        "429":
          $ref: '#/components/responses/429'
        default:
          $ref: '#/components/responses/UnknownError'
      summary: List Container Group Instances
      tags:
      - container_groups
    parameters:
    - $ref: '#/components/parameters/organization_name'
    - $ref: '#/components/parameters/project_name'
    - $ref: '#/components/parameters/container_group_name'
    summary: Container Group Instances
  ? /organizations/{organization_name}/projects/{project_name}/containers/{container_group_name}/instances/{container_group_instance_id}
  : description: Operations for a container group instance
    get:
      description: Gets a container group instance
      operationId: get_container_group_instance
      parameters:
      - $ref: '#/components/parameters/organization_name'
      - $ref: '#/components/parameters/project_name'
      - $ref: '#/components/parameters/container_group_name'
      - $ref: '#/components/parameters/container_group_instance_id'
      responses:
        "202":
          $ref: '#/components/responses/GetContainerGroupInstance'
        "404":
          $ref: '#/components/responses/404'
        "429":
          $ref: '#/components/responses/429'
        default:
          $ref: '#/components/responses/UnknownError'
      summary: Get Container Group Instance
      tags:
      - container_groups
    parameters:
    - $ref: '#/components/parameters/organization_name'
    - $ref: '#/components/parameters/project_name'
    - $ref: '#/components/parameters/container_group_name'
    - $ref: '#/components/parameters/container_group_instance_id'
    patch:
      description: Updates a container group instance
      operationId: update_container_group_instance
      parameters:
      - $ref: '#/components/parameters/organization_name'
      - $ref: '#/components/parameters/project_name'
      - $ref: '#/components/parameters/container_group_name'
      - $ref: '#/components/parameters/container_group_instance_id'
      requestBody:
        $ref: '#/components/requestBodies/UpdateContainerGroupInstance'
      responses:
        "200":
          $ref: '#/components/responses/UpdateContainerGroupInstance'
        "400":
          $ref: '#/components/responses/400'
        "403":
          $ref: '#/components/responses/403'
        "404":
          $ref: '#/components/responses/404'
        "429":
          $ref: '#/components/responses/429'
        default:
          $ref: '#/components/responses/UnknownError'
      summary: Update Container Group Instance
      tags:
      - container_groups
    summary: Container Group Instance
  ? /organizations/{organization_name}/projects/{project_name}/containers/{container_group_name}/instances/{container_group_instance_id}/reallocate
  : description: Operations for a container group instance
    parameters:
    - $ref: '#/components/parameters/organization_name'
    - $ref: '#/components/parameters/project_name'
    - $ref: '#/components/parameters/container_group_name'
    - $ref: '#/components/parameters/container_group_instance_id'
    post:
      description: Reallocates a container group instance to run on a different Salad
        Node
      operationId: reallocate_container_group_instance
      parameters:
      - $ref: '#/components/parameters/organization_name'
      - $ref: '#/components/parameters/project_name'
      - $ref: '#/components/parameters/container_group_name'
      - $ref: '#/components/parameters/container_group_instance_id'
      responses:
        "202":
          $ref: '#/components/responses/ReallocateContainerGroupInstance'
        "404":
          $ref: '#/components/responses/404'
        "429":
          $ref: '#/components/responses/429'
        default:
          $ref: '#/components/responses/UnknownError'
      summary: Reallocate Container Group Instance
      tags:
      - container_groups
    summary: Container Group Instance
  ? /organizations/{organization_name}/projects/{project_name}/containers/{container_group_name}/instances/{container_group_instance_id}/recreate
  : description: Operations for a container group instance
    parameters:
    - $ref: '#/components/parameters/organization_name'
    - $ref: '#/components/parameters/project_name'
    - $ref: '#/components/parameters/container_group_name'
    - $ref: '#/components/parameters/container_group_instance_id'
    post:
      description: "Stops a container, destroys it, and starts a new one without requiring\
        \ the image to be downloaded again on a new Salad Node"
      operationId: recreate_container_group_instance
      parameters:
      - $ref: '#/components/parameters/organization_name'
      - $ref: '#/components/parameters/project_name'
      - $ref: '#/components/parameters/container_group_name'
      - $ref: '#/components/parameters/container_group_instance_id'
      responses:
        "202":
          $ref: '#/components/responses/RecreateContainerGroupInstance'
        "404":
          $ref: '#/components/responses/404'
        "429":
          $ref: '#/components/responses/429'
        default:
          $ref: '#/components/responses/UnknownError'
      summary: Recreate Container Group Instance
      tags:
      - container_groups
    summary: Container Group Instance
  ? /organizations/{organization_name}/projects/{project_name}/containers/{container_group_name}/instances/{container_group_instance_id}/restart
  : description: Operations for a container group instance
    parameters:
    - $ref: '#/components/parameters/organization_name'
    - $ref: '#/components/parameters/project_name'
    - $ref: '#/components/parameters/container_group_name'
    - $ref: '#/components/parameters/container_group_instance_id'
    post:
      description: Stops a container and restarts it on the same Salad Node
      operationId: restart_container_group_instance
      parameters:
      - $ref: '#/components/parameters/organization_name'
      - $ref: '#/components/parameters/project_name'
      - $ref: '#/components/parameters/container_group_name'
      - $ref: '#/components/parameters/container_group_instance_id'
      responses:
        "202":
          $ref: '#/components/responses/RestartContainerGroupInstance'
        "404":
          $ref: '#/components/responses/404'
        "429":
          $ref: '#/components/responses/429'
        default:
          $ref: '#/components/responses/UnknownError'
      summary: Restart container Group Instance
      tags:
      - container_groups
    summary: Container Group Instance
  /organizations/{organization_name}/projects/{project_name}/queues:
    description: Operations for queues
    get:
      description: Gets the list of queues in the given project.
      operationId: list_queues
      parameters:
      - $ref: '#/components/parameters/organization_name'
      - $ref: '#/components/parameters/project_name'
      responses:
        "200":
          $ref: '#/components/responses/ListQueues'
        "404":
          $ref: '#/components/responses/404'
        "429":
          $ref: '#/components/responses/429'
        default:
          $ref: '#/components/responses/UnknownError'
      summary: List Queues
      tags:
      - queues
    parameters:
    - $ref: '#/components/parameters/organization_name'
    - $ref: '#/components/parameters/project_name'
    post:
      description: Creates a new queue in the given project.
      operationId: create_queue
      parameters:
      - $ref: '#/components/parameters/organization_name'
      - $ref: '#/components/parameters/project_name'
      requestBody:
        $ref: '#/components/requestBodies/CreateQueue'
      responses:
        "201":
          $ref: '#/components/responses/CreateQueue'
        "400":
          $ref: '#/components/responses/400'
        "404":
          $ref: '#/components/responses/404'
        "429":
          $ref: '#/components/responses/429'
        default:
          $ref: '#/components/responses/UnknownError'
      summary: Create Queue
      tags:
      - queues
      x-liblab-resource: Queue#Create
    summary: Queues
  /organizations/{organization_name}/projects/{project_name}/queues/{queue_name}:
    delete:
      description: Deletes an existing queue in the given project.
      operationId: delete_queue
      parameters:
      - $ref: '#/components/parameters/organization_name'
      - $ref: '#/components/parameters/project_name'
      - $ref: '#/components/parameters/queue_name'
      responses:
        "202":
          $ref: '#/components/responses/DeleteQueue'
        "404":
          $ref: '#/components/responses/404'
        "429":
          $ref: '#/components/responses/429'
        default:
          $ref: '#/components/responses/UnknownError'
      summary: Delete Queue
      tags:
      - queues
      x-liblab-resource: Queue#Delete
    description: Operations for a queue
    get:
      description: Gets an existing queue in the given project.
      operationId: get_queue
      parameters:
      - $ref: '#/components/parameters/organization_name'
      - $ref: '#/components/parameters/project_name'
      - $ref: '#/components/parameters/queue_name'
      responses:
        "200":
          $ref: '#/components/responses/GetQueue'
        "404":
          $ref: '#/components/responses/404'
        "429":
          $ref: '#/components/responses/429'
        default:
          $ref: '#/components/responses/UnknownError'
      summary: Get Queue
      tags:
      - queues
      x-liblab-datasource: Queue#Read
      x-liblab-resource: Queue#Read
    parameters:
    - $ref: '#/components/parameters/organization_name'
    - $ref: '#/components/parameters/project_name'
    - $ref: '#/components/parameters/queue_name'
    patch:
      description: Updates an existing queue in the given project.
      operationId: update_queue
      parameters:
      - $ref: '#/components/parameters/organization_name'
      - $ref: '#/components/parameters/project_name'
      - $ref: '#/components/parameters/queue_name'
      requestBody:
        $ref: '#/components/requestBodies/UpdateQueue'
      responses:
        "200":
          $ref: '#/components/responses/UpdateQueue'
        "400":
          $ref: '#/components/responses/400'
        "404":
          $ref: '#/components/responses/404'
        "429":
          $ref: '#/components/responses/429'
        default:
          $ref: '#/components/responses/UnknownError'
      summary: Update Queue
      tags:
      - queues
      x-liblab-resource: Queue#Update
    summary: Queue
  /organizations/{organization_name}/projects/{project_name}/queues/{queue_name}/jobs:
    description: Operations for jobs in a queue
    get:
      description: Gets the list of jobs in a queue
      operationId: list_queue_jobs
      parameters:
      - $ref: '#/components/parameters/Page'
      - $ref: '#/components/parameters/PageSize'
      - $ref: '#/components/parameters/organization_name'
      - $ref: '#/components/parameters/project_name'
      - $ref: '#/components/parameters/queue_name'
      responses:
        "200":
          $ref: '#/components/responses/ListQueueJobs'
        "404":
          $ref: '#/components/responses/404'
        "429":
          $ref: '#/components/responses/429'
        default:
          $ref: '#/components/responses/UnknownError'
      summary: List Jobs
      tags:
      - queues
    parameters:
    - $ref: '#/components/parameters/organization_name'
    - $ref: '#/components/parameters/project_name'
    - $ref: '#/components/parameters/queue_name'
    post:
      description: Creates a new job
      operationId: create_queue_job
      parameters:
      - $ref: '#/components/parameters/organization_name'
      - $ref: '#/components/parameters/project_name'
      - $ref: '#/components/parameters/queue_name'
      requestBody:
        $ref: '#/components/requestBodies/CreateQueueJob'
      responses:
        "201":
          $ref: '#/components/responses/CreateQueueJob'
        "400":
          $ref: '#/components/responses/400'
        "404":
          $ref: '#/components/responses/404'
        "429":
          $ref: '#/components/responses/429'
        default:
          $ref: '#/components/responses/UnknownError'
      summary: Create Job
      tags:
      - queues
    summary: Jobs in a Queue
  /organizations/{organization_name}/projects/{project_name}/queues/{queue_name}/jobs/{queue_job_id}:
    delete:
      description: Cancels a job in a queue
      operationId: delete_queue_job
      parameters:
      - $ref: '#/components/parameters/organization_name'
      - $ref: '#/components/parameters/project_name'
      - $ref: '#/components/parameters/queue_name'
      - $ref: '#/components/parameters/queue_job_id'
      responses:
        "202":
          $ref: '#/components/responses/DeleteQueueJob'
        "404":
          $ref: '#/components/responses/404'
        "429":
          $ref: '#/components/responses/429'
        default:
          $ref: '#/components/responses/UnknownError'
      summary: Delete Job
      tags:
      - queues
    description: Operations for jobs in a queue
    get:
      description: Gets a job in a queue
      operationId: get_queue_job
      parameters:
      - $ref: '#/components/parameters/organization_name'
      - $ref: '#/components/parameters/project_name'
      - $ref: '#/components/parameters/queue_name'
      - $ref: '#/components/parameters/queue_job_id'
      responses:
        "200":
          $ref: '#/components/responses/GetQueueJob'
        "404":
          $ref: '#/components/responses/404'
        "429":
          $ref: '#/components/responses/429'
        default:
          $ref: '#/components/responses/UnknownError'
      summary: Get Job
      tags:
      - queues
    parameters:
    - $ref: '#/components/parameters/organization_name'
    - $ref: '#/components/parameters/project_name'
    - $ref: '#/components/parameters/queue_name'
    - $ref: '#/components/parameters/queue_job_id'
    summary: Jobs in a Queue
  /organizations/{organization_name}/quotas:
    description: Operations for quotas
    get:
      description: Gets the organization quotas
      operationId: get_quotas
      parameters:
      - $ref: '#/components/parameters/organization_name'
      responses:
        "200":
          $ref: '#/components/responses/GetQuotas'
        "404":
          $ref: '#/components/responses/404'
        "429":
          $ref: '#/components/responses/429'
        default:
          $ref: '#/components/responses/UnknownError'
      summary: Get Quotas
      tags:
      - quotas
      x-liblab-datasource: OrganizationQuotas#Read
    parameters:
    - $ref: '#/components/parameters/organization_name'
    summary: Quotas
  /organizations/{organization_name}/inference-endpoints:
    description: Operations for inference endpoints
    get:
      description: Lists inference endpoints.
      operationId: list_inference_endpoints
      parameters:
      - $ref: '#/components/parameters/Page'
      - $ref: '#/components/parameters/PageSize'
      - $ref: '#/components/parameters/organization_name'
      responses:
        "200":
          $ref: '#/components/responses/ListInferenceEndpoints'
        "400":
          $ref: '#/components/responses/400'
        "401":
          $ref: '#/components/responses/401'
        "403":
          $ref: '#/components/responses/403'
        "404":
          $ref: '#/components/responses/404'
        "429":
          $ref: '#/components/responses/429'
        default:
          $ref: '#/components/responses/UnknownError'
      summary: List Inference Endpoints
      tags:
      - inference_endpoints
    parameters:
    - $ref: '#/components/parameters/organization_name'
    summary: Inference Endpoints
  /organizations/{organization_name}/inference-endpoints/{inference_endpoint_name}:
    description: Operations for an inference endpoint
    get:
      description: Gets an inference endpoint.
      operationId: get_inference_endpoint
      parameters:
      - $ref: '#/components/parameters/organization_name'
      - $ref: '#/components/parameters/inference_endpoint_name'
      responses:
        "200":
          $ref: '#/components/responses/GetInferenceEndpoint'
        "401":
          $ref: '#/components/responses/401'
        "403":
          $ref: '#/components/responses/403'
        "404":
          $ref: '#/components/responses/404'
        "429":
          $ref: '#/components/responses/429'
        default:
          $ref: '#/components/responses/UnknownError'
      summary: Get an Inference Endpoint
      tags:
      - inference_endpoints
    parameters:
    - $ref: '#/components/parameters/organization_name'
    - $ref: '#/components/parameters/inference_endpoint_name'
    summary: Inference Endpoints
  /organizations/{organization_name}/inference-endpoints/{inference_endpoint_name}/jobs:
    description: Operations for jobs in an inference endpoint
    get:
      description: Lists inference endpoint jobs.
      operationId: list_inference_endpoint_jobs
      parameters:
      - $ref: '#/components/parameters/Page'
      - $ref: '#/components/parameters/PageSize'
      - $ref: '#/components/parameters/organization_name'
      - $ref: '#/components/parameters/inference_endpoint_name'
      responses:
        "200":
          $ref: '#/components/responses/ListInferenceEndpointJobs'
        "400":
          $ref: '#/components/responses/400'
        "401":
          $ref: '#/components/responses/401'
        "403":
          $ref: '#/components/responses/403'
        "404":
          $ref: '#/components/responses/404'
        "429":
          $ref: '#/components/responses/429'
        default:
          $ref: '#/components/responses/UnknownError'
      summary: List Inference Endpoint Jobs
      tags:
      - inference_endpoints
    parameters:
    - $ref: '#/components/parameters/organization_name'
    - $ref: '#/components/parameters/inference_endpoint_name'
    post:
      description: Creates a new inference endpoint job.
      operationId: create_inference_endpoint_job
      parameters:
      - $ref: '#/components/parameters/organization_name'
      - $ref: '#/components/parameters/inference_endpoint_name'
      requestBody:
        $ref: '#/components/requestBodies/CreateInferenceEndpointJob'
      responses:
        "201":
          $ref: '#/components/responses/CreateInferenceEndpointJob'
        "400":
          $ref: '#/components/responses/400'
        "401":
          $ref: '#/components/responses/401'
        "403":
          $ref: '#/components/responses/403'
        "404":
          $ref: '#/components/responses/404'
        "429":
          $ref: '#/components/responses/429'
        default:
          $ref: '#/components/responses/UnknownError'
      summary: Create a New Inference Endpoint Job
      tags:
      - inference_endpoints
    summary: Jobs in an inference endpoint
  /organizations/{organization_name}/inference-endpoints/{inference_endpoint_name}/jobs/{inference_endpoint_job_id}:
    delete:
      description: Cancels an inference endpoint job.
      operationId: delete_inference_endpoint_job
      parameters:
      - $ref: '#/components/parameters/organization_name'
      - $ref: '#/components/parameters/inference_endpoint_name'
      - $ref: '#/components/parameters/inference_endpoint_job_id'
      responses:
        "202":
          $ref: '#/components/responses/202'
        "400":
          $ref: '#/components/responses/400'
        "401":
          $ref: '#/components/responses/401'
        "403":
          $ref: '#/components/responses/403'
        "404":
          $ref: '#/components/responses/404'
        "429":
          $ref: '#/components/responses/429'
        default:
          $ref: '#/components/responses/UnknownError'
      summary: Cancel an Inference Endpoint Job
      tags:
      - inference_endpoints
    description: Operations for jobs in an inference endpoint
    get:
      description: Gets an inference endpoint job.
      operationId: get_inference_endpoint_job
      parameters:
      - $ref: '#/components/parameters/organization_name'
      - $ref: '#/components/parameters/inference_endpoint_name'
      - $ref: '#/components/parameters/inference_endpoint_job_id'
      responses:
        "200":
          $ref: '#/components/responses/GetInferenceEndpointJob'
        "401":
          $ref: '#/components/responses/401'
        "403":
          $ref: '#/components/responses/403'
        "404":
          $ref: '#/components/responses/404'
        "429":
          $ref: '#/components/responses/429'
        default:
          $ref: '#/components/responses/UnknownError'
      summary: Get an Inference Endpoint Job
      tags:
      - inference_endpoints
    parameters:
    - $ref: '#/components/parameters/organization_name'
    - $ref: '#/components/parameters/inference_endpoint_name'
    - $ref: '#/components/parameters/inference_endpoint_job_id'
    summary: Jobs in an inference endpoint
  /organizations/{organization_name}/gpu-classes:
    description: Allows reading the GPU Classes collection available for the organization
    get:
      description: List the GPU Classes
      operationId: list_gpu_classes
      parameters:
      - $ref: '#/components/parameters/organization_name'
      responses:
        "200":
          $ref: '#/components/responses/ListGpuClasses'
        "404":
          $ref: '#/components/responses/404'
        "429":
          $ref: '#/components/responses/429'
        default:
          $ref: '#/components/responses/UnknownError'
      summary: List the GPU Classes
      tags:
      - organization_data
      x-liblab-datasource: OrganizationGpuClasses#Read
    parameters:
    - $ref: '#/components/parameters/organization_name'
    summary: GPU Classes
  /organizations/{organization_name}/webhook-secret-key:
    get:
      description: Gets the webhook secret key
      operationId: get_webhook_secret_key
      parameters:
      - $ref: '#/components/parameters/organization_name'
      responses:
        "200":
          $ref: '#/components/responses/WebhookSecretKey'
        "404":
          $ref: '#/components/responses/404'
        "429":
          $ref: '#/components/responses/429'
        default:
          $ref: '#/components/responses/UnknownError'
      summary: Gets the webhook secret key
      tags:
      - webhook_secret_key
    parameters:
    - $ref: '#/components/parameters/organization_name'
    post:
      description: Updates the webhook secret key
      operationId: update_webhook_secret_key
      parameters:
      - $ref: '#/components/parameters/organization_name'
      responses:
        "200":
          $ref: '#/components/responses/WebhookSecretKey'
        "404":
          $ref: '#/components/responses/404'
        "429":
          $ref: '#/components/responses/429'
        default:
          $ref: '#/components/responses/UnknownError'
      summary: Updates the webhook secret key
      tags:
      - webhook_secret_key
components:
  parameters:
    Page:
      description: The page number.
      explode: true
      in: query
      name: page
      required: false
      schema:
        $ref: '#/components/schemas/Page'
      style: form
    PageSize:
      description: The maximum number of items per page.
      explode: true
      in: query
      name: page_size
      required: false
      schema:
        $ref: '#/components/schemas/PageSize'
      style: form
    container_group_instance_id:
      description: The unique container group instance identifier
      explode: false
      in: path
      name: container_group_instance_id
      required: true
      schema:
        $ref: '#/components/schemas/ContainerGroupInstanceId'
      style: simple
    container_group_name:
      description: The unique container group name
      explode: false
      in: path
      name: container_group_name
      required: true
      schema:
        $ref: '#/components/schemas/ContainerGroupName'
      style: simple
    inference_endpoint_job_id:
      description: The inference endpoint job identifier.
      explode: false
      in: path
      name: inference_endpoint_job_id
      required: true
      schema:
        $ref: '#/components/schemas/InferenceEndpointJobId'
      style: simple
    inference_endpoint_name:
      description: The inference endpoint name.
      explode: false
      in: path
      name: inference_endpoint_name
      required: true
      schema:
        $ref: '#/components/schemas/InferenceEndpointName'
      style: simple
    organization_name:
      description: "Your organization name. This identifies the billing context for\
        \ the API operation and represents a security boundary for SaladCloud resources.\
        \ The organization must be created before using the API, and you must be a\
        \ member of the organization."
      explode: false
      in: path
      name: organization_name
      required: true
      schema:
        $ref: '#/components/schemas/OrganizationName'
      style: simple
    project_name:
      description: Your project name. This represents a collection of related SaladCloud
        resources. The project must be created before using the API.
      explode: false
      in: path
      name: project_name
      required: true
      schema:
        $ref: '#/components/schemas/ProjectName'
      style: simple
    queue_job_id:
      description: The job identifier. This is automatically generated and assigned
        when the job is created.
      explode: false
      in: path
      name: queue_job_id
      required: true
      schema:
        format: uuid
        type: string
      style: simple
    queue_name:
      description: The queue name.
      explode: false
      in: path
      name: queue_name
      required: true
      schema:
        maxLength: 63
        minLength: 2
        pattern: "^[a-z][a-z0-9-]{0,61}[a-z0-9]$"
        type: string
      style: simple
  requestBodies:
    CreateContainerGroup:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ContainerGroupPrototype'
      required: true
    CreateInferenceEndpointJob:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/InferenceEndpointJobPrototype'
      required: true
    CreateQueue:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/QueuePrototype'
      required: true
    CreateQueueJob:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/QueueJobPrototype'
      required: true
    UpdateContainerGroup:
      content:
        application/merge-patch+json:
          schema:
            $ref: '#/components/schemas/ContainerGroupPatch'
      required: true
    UpdateContainerGroupInstance:
      content:
        application/merge-patch+json:
          schema:
            $ref: '#/components/schemas/ContainerGroupInstancePatch'
      required: true
    UpdateQueue:
      content:
        application/merge-patch+json:
          schema:
            $ref: '#/components/schemas/QueuePatch'
      required: true
  responses:
    "202":
      description: Accepted
    "400":
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ProblemDetails'
      description: Bad Request
    "401":
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ProblemDetails'
      description: Unauthorized
    "403":
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ProblemDetails'
      description: Forbidden
    "404":
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ProblemDetails'
      description: Not Found
    "429":
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ProblemDetails'
      description: Too Many Requests
    CreateContainerGroup:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ContainerGroup'
      description: Created
      headers:
        Location:
          explode: false
          schema:
            maxLength: 2048
            minLength: 1
            pattern: ^.*$
            type: string
          style: simple
      links:
        get_container_group_by_name:
          operationId: get_container_group
          parameters:
            container_group_name: $response.body#/name
    CreateInferenceEndpointJob:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/InferenceEndpointJob'
      description: Created
      headers:
        Location:
          description: The URL of the new inference endpoint job.
          explode: false
          required: true
          schema:
            maxLength: 2048
            minLength: 1
            pattern: "^(https?:\\/\\/)[a-zA-Z0-9.-]+(\\.[a-zA-Z]{2,})(:[0-9]{1,5})?(\\\
              /[^\\s]*)?$"
            type: string
          style: simple
    CreateQueue:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Queue'
      description: Created
      headers:
        Location:
          explode: false
          schema:
            maxLength: 255
            minLength: 1
            pattern: ^.*$
            type: string
          style: simple
      links:
        get_queue_by_name:
          operationId: get_queue
          parameters:
            queue_name: $response.body#/name
    CreateQueueJob:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/QueueJob'
      description: Created
      headers:
        Location:
          explode: false
          schema:
            maxLength: 255
            minLength: 1
            pattern: ^.*$
            type: string
          style: simple
      links:
        get_queue_job_by_name:
          operationId: get_queue_job
          parameters:
            queue_job_id: $response.body#/id
    DeleteContainerGroup:
      description: Accepted
    DeleteQueue:
      description: Accepted
    DeleteQueueJob:
      description: Accepted
    GetContainerGroup:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ContainerGroup'
      description: OK
    GetContainerGroupInstance:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ContainerGroupInstance'
      description: OK
    GetInferenceEndpoint:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/InferenceEndpoint'
      description: OK
    GetInferenceEndpointJob:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/InferenceEndpointJob'
      description: OK
    GetQueue:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Queue'
      description: OK
    GetQueueJob:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/QueueJob'
      description: OK
    GetQuotas:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Quotas'
      description: OK
    ListContainerGroupInstances:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ContainerGroupInstanceCollection'
      description: OK
    ListContainerGroups:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ContainerGroupCollection'
      description: OK
    ListGpuClasses:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/GpuClassesList'
      description: OK
    ListInferenceEndpointJobs:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/InferenceEndpointJobCollection'
      description: OK
    ListInferenceEndpoints:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/InferenceEndpointCollection'
      description: OK
    ListQueueJobs:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/QueueJobCollection'
      description: OK
    ListQueues:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/QueueCollection'
      description: OK
    ListSystemLogs:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/SystemLogList'
      description: OK
    ListWorkloadErrors:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/WorkloadErrorList'
      description: OK
    ReallocateContainerGroupInstance:
      description: Accepted
    RecreateContainerGroupInstance:
      description: Accepted
    RestartContainerGroupInstance:
      description: Accepted
    StartContainerGroup:
      description: Accepted
    StopContainerGroup:
      description: Accepted
    UnknownError:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ProblemDetails'
      description: Unknown Error
    UpdateContainerGroup:
      content:
        application/merge-patch+json:
          schema:
            $ref: '#/components/schemas/ContainerGroup'
      description: OK
    UpdateContainerGroupInstance:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ContainerGroupInstance'
      description: OK
    UpdateQueue:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Queue'
      description: OK
    WebhookSecretKey:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/WebhookSecretKey'
      description: OK
  schemas:
    Container:
      description: Represents a container with its configuration and resource requirements.
      example:
        environment_variables:
          key: environment_variables
        image: image
        size: 2123345576459398144
        logging:
          tcp:
            port: 39501
            host: host
          new_relic:
            host: host
            ingestion_key: ingestion_key
          datadog:
            api_key: api_key
            host: host
            tags:
            - name: name
              value: value
            - name: name
              value: value
            - name: name
              value: value
            - name: name
              value: value
            - name: name
              value: value
          http:
            path: path
            headers:
            - name: name
              value: value
            - name: name
              value: value
            - name: name
              value: value
            - name: name
              value: value
            - name: name
              value: value
            password: password
            port: 5249
            host: host
            format: json
            compression: none
            user: user
          splunk:
            host: host
            token: token
          axiom:
            api_token: api_token
            host: host
            dataset: dataset
        resources:
          storage_amount: 30733868583
          memory: 37044
          cpu: 3
          gpu_classes:
          - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        image_caching: true
        command:
        - command
        - command
        - command
        - command
        - command
        hash: hash
      properties:
        command:
          description: List of commands to run inside the container. Each command
            is a string representing a command-line instruction.
          items:
            maxLength: 2048
            minLength: 1
            pattern: ^.*$
            type: string
          maxItems: 100
          minItems: 0
          nullable: true
          type: array
        environment_variables:
          additionalProperties:
            description: Key-value pairs of environment variables to set in the container.
            maxLength: 2048
            minLength: 0
            pattern: ^.*$
            type: string
          description: Environment variables to set in the container.
        hash:
          description: SHA-256 hash (64-character hexadecimal string)
          maxLength: 135
          minLength: 47
          pattern: "^sha\\d{1,3}:[a-fA-F0-9]{40,135}$"
          type: string
        image:
          description: The container image.
          maxLength: 2048
          minLength: 1
          pattern: ^.*$
          title: Container Image
          type: string
        image_caching:
          description: The container image caching.
          title: Container Image Caching
          type: boolean
        logging:
          $ref: '#/components/schemas/ContainerLogging'
        resources:
          $ref: '#/components/schemas/ContainerResourceRequirements'
        size:
          description: Size of the container in bytes.
          format: int64
          maximum: 9223372036854775807
          minimum: 0
          type: integer
      required:
      - command
      - image
      - resources
    ContainerGroup:
      description: A container group definition that represents a scalable set of
        identical containers running as a distributed service
      example:
        container:
          environment_variables:
            key: environment_variables
          image: image
          size: 2123345576459398144
          logging:
            tcp:
              port: 39501
              host: host
            new_relic:
              host: host
              ingestion_key: ingestion_key
            datadog:
              api_key: api_key
              host: host
              tags:
              - name: name
                value: value
              - name: name
                value: value
              - name: name
                value: value
              - name: name
                value: value
              - name: name
                value: value
            http:
              path: path
              headers:
              - name: name
                value: value
              - name: name
                value: value
              - name: name
                value: value
              - name: name
                value: value
              - name: name
                value: value
              password: password
              port: 5249
              host: host
              format: json
              compression: none
              user: user
            splunk:
              host: host
              token: token
            axiom:
              api_token: api_token
              host: host
              dataset: dataset
          resources:
            storage_amount: 30733868583
            memory: 37044
            cpu: 3
            gpu_classes:
            - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          image_caching: true
          command:
          - command
          - command
          - command
          - command
          - command
          hash: hash
        autostart_policy: true
        create_time: 2000-01-23T04:56:07.000+00:00
        replicas: 335
        current_state:
          start_time: 2000-01-23T04:56:07.000+00:00
          instance_status_counts:
            creating_count: 1997469940
            running_count: 776546568
            allocating_count: 1516424369
            stopping_count: 435321354
          description: description
          finish_time: 2000-01-23T04:56:07.000+00:00
          status: pending
        networking:
          load_balancer: round_robin
          protocol: http
          server_response_timeout: 99657
          auth: true
          port: 32931
          single_connection_limit: false
          dns: http://example.com/aeiou
          client_request_timeout: 49652
        queue_connection:
          queue_name: queue_name
          path: path
          port: 45646
        organization_name: organization_name
        display_name: display_name
        priority: high
        project_name: project_name
        version: 1399983448
        readiness_probe:
          tcp:
            port: 48874
          period_seconds: 81
          initial_delay_seconds: 346
          failure_threshold: 3
          http:
            headers:
            - name: name
              value: value
            - name: name
              value: value
            - name: name
              value: value
            - name: name
              value: value
            - name: name
              value: value
            path: path
            scheme: http
            port: 8070
          success_threshold: 7
          timeout_seconds: 36
          exec:
            command:
            - command
            - command
            - command
            - command
            - command
          grpc:
            port: 48406
            service: service
        update_time: 2000-01-23T04:56:07.000+00:00
        pending_change: true
        queue_autoscaler:
          max_upscale_per_minute: 90
          polling_period: 649
          desired_queue_length: 93
          min_replicas: 64
          max_replicas: 334
          max_downscale_per_minute: 87
        restart_policy: always
        startup_probe:
          tcp:
            port: 48874
          period_seconds: 86
          initial_delay_seconds: 371
          failure_threshold: 7
          http:
            headers:
            - name: name
              value: value
            - name: name
              value: value
            - name: name
              value: value
            - name: name
              value: value
            - name: name
              value: value
            path: path
            scheme: http
            port: 8070
          success_threshold: 1
          timeout_seconds: 42
          exec:
            command:
            - command
            - command
            - command
            - command
            - command
          grpc:
            port: 48406
            service: service
        name: name
        country_codes:
        - af
        - af
        - af
        - af
        - af
        id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        liveness_probe:
          tcp:
            port: 48874
          period_seconds: 18
          initial_delay_seconds: 122
          failure_threshold: 8
          http:
            headers:
            - name: name
              value: value
            - name: name
              value: value
            - name: name
              value: value
            - name: name
              value: value
            - name: name
              value: value
            path: path
            scheme: http
            port: 8070
          success_threshold: 7
          timeout_seconds: 7
          exec:
            command:
            - command
            - command
            - command
            - command
            - command
          grpc:
            port: 48406
            service: service
      properties:
        autostart_policy:
          description: Defines whether containers in this group should automatically
            start when deployed (true) or require manual starting (false)
          type: boolean
        container:
          $ref: '#/components/schemas/Container'
        country_codes:
          description: "List of country codes where container instances are permitted\
            \ to run. When not specified or empty, containers may run in any available\
            \ region."
          items:
            $ref: '#/components/schemas/CountryCode'
          maxItems: 500
          minItems: 0
          type: array
        create_time:
          description: ISO 8601 timestamp when this container group was initially
            created
          format: date-time
          type: string
        current_state:
          $ref: '#/components/schemas/ContainerGroupState'
        display_name:
          description: The display-friendly name of the resource.
          maxLength: 63
          minLength: 2
          pattern: "^[ ,-.0-9A-Za-z]+$"
          type: string
        id:
          description: The container group identifier.
          format: uuid
          title: Container Group ID
          type: string
        liveness_probe:
          $ref: '#/components/schemas/ContainerGroupLivenessProbe'
        name:
          description: The container group name.
          maxLength: 63
          minLength: 2
          pattern: "^[a-z][a-z0-9-]{0,61}[a-z0-9]$"
          title: Container Group Name
          type: string
        networking:
          $ref: '#/components/schemas/ContainerGroupNetworking'
        organization_name:
          description: The organization name.
          maxLength: 63
          minLength: 2
          pattern: "^[a-z][a-z0-9-]{0,61}[a-z0-9]$"
          title: Organization Name
          type: string
        pending_change:
          description: Indicates whether a configuration change has been requested
            but not yet applied to all containers in the group
          type: boolean
        priority:
          $ref: '#/components/schemas/ContainerGroupPriority'
        project_name:
          description: The project name.
          maxLength: 63
          minLength: 2
          pattern: "^[a-z][a-z0-9-]{0,61}[a-z0-9]$"
          type: string
        queue_autoscaler:
          $ref: '#/components/schemas/ContainerGroupQueueAutoscaler'
        queue_connection:
          $ref: '#/components/schemas/ContainerGroupQueueConnection'
        readiness_probe:
          $ref: '#/components/schemas/ContainerGroupReadinessProbe'
        replicas:
          description: The container group replicas.
          format: int32
          maximum: 500
          minimum: 0
          title: Container Group Replicas
          type: integer
        restart_policy:
          $ref: '#/components/schemas/ContainerRestartPolicy'
        startup_probe:
          $ref: '#/components/schemas/ContainerGroupStartupProbe'
        update_time:
          description: ISO 8601 timestamp when this container group was last updated
          format: date-time
          type: string
        version:
          description: Incremental version number that increases with each configuration
            change to the container group
          format: int32
          maximum: 2147483647
          minimum: 1
          type: integer
      required:
      - autostart_policy
      - container
      - country_codes
      - create_time
      - current_state
      - display_name
      - id
      - name
      - organization_name
      - pending_change
      - priority
      - project_name
      - replicas
      - restart_policy
      - update_time
      - version
      title: Container Group
    ContainerGroupCollection:
      description: A paginated collection of container groups that provides a structured
        way to access multiple container group resources in a single response.
      example:
        items:
        - container:
            environment_variables:
              key: environment_variables
            image: image
            size: 2123345576459398144
            logging:
              tcp:
                port: 39501
                host: host
              new_relic:
                host: host
                ingestion_key: ingestion_key
              datadog:
                api_key: api_key
                host: host
                tags:
                - name: name
                  value: value
                - name: name
                  value: value
                - name: name
                  value: value
                - name: name
                  value: value
                - name: name
                  value: value
              http:
                path: path
                headers:
                - name: name
                  value: value
                - name: name
                  value: value
                - name: name
                  value: value
                - name: name
                  value: value
                - name: name
                  value: value
                password: password
                port: 5249
                host: host
                format: json
                compression: none
                user: user
              splunk:
                host: host
                token: token
              axiom:
                api_token: api_token
                host: host
                dataset: dataset
            resources:
              storage_amount: 30733868583
              memory: 37044
              cpu: 3
              gpu_classes:
              - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
              - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
              - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
              - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
              - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            image_caching: true
            command:
            - command
            - command
            - command
            - command
            - command
            hash: hash
          autostart_policy: true
          create_time: 2000-01-23T04:56:07.000+00:00
          replicas: 335
          current_state:
            start_time: 2000-01-23T04:56:07.000+00:00
            instance_status_counts:
              creating_count: 1997469940
              running_count: 776546568
              allocating_count: 1516424369
              stopping_count: 435321354
            description: description
            finish_time: 2000-01-23T04:56:07.000+00:00
            status: pending
          networking:
            load_balancer: round_robin
            protocol: http
            server_response_timeout: 99657
            auth: true
            port: 32931
            single_connection_limit: false
            dns: http://example.com/aeiou
            client_request_timeout: 49652
          queue_connection:
            queue_name: queue_name
            path: path
            port: 45646
          organization_name: organization_name
          display_name: display_name
          priority: high
          project_name: project_name
          version: 1399983448
          readiness_probe:
            tcp:
              port: 48874
            period_seconds: 81
            initial_delay_seconds: 346
            failure_threshold: 3
            http:
              headers:
              - name: name
                value: value
              - name: name
                value: value
              - name: name
                value: value
              - name: name
                value: value
              - name: name
                value: value
              path: path
              scheme: http
              port: 8070
            success_threshold: 7
            timeout_seconds: 36
            exec:
              command:
              - command
              - command
              - command
              - command
              - command
            grpc:
              port: 48406
              service: service
          update_time: 2000-01-23T04:56:07.000+00:00
          pending_change: true
          queue_autoscaler:
            max_upscale_per_minute: 90
            polling_period: 649
            desired_queue_length: 93
            min_replicas: 64
            max_replicas: 334
            max_downscale_per_minute: 87
          restart_policy: always
          startup_probe:
            tcp:
              port: 48874
            period_seconds: 86
            initial_delay_seconds: 371
            failure_threshold: 7
            http:
              headers:
              - name: name
                value: value
              - name: name
                value: value
              - name: name
                value: value
              - name: name
                value: value
              - name: name
                value: value
              path: path
              scheme: http
              port: 8070
            success_threshold: 1
            timeout_seconds: 42
            exec:
              command:
              - command
              - command
              - command
              - command
              - command
            grpc:
              port: 48406
              service: service
          name: name
          country_codes:
          - af
          - af
          - af
          - af
          - af
          id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          liveness_probe:
            tcp:
              port: 48874
            period_seconds: 18
            initial_delay_seconds: 122
            failure_threshold: 8
            http:
              headers:
              - name: name
                value: value
              - name: name
                value: value
              - name: name
                value: value
              - name: name
                value: value
              - name: name
                value: value
              path: path
              scheme: http
              port: 8070
            success_threshold: 7
            timeout_seconds: 7
            exec:
              command:
              - command
              - command
              - command
              - command
              - command
            grpc:
              port: 48406
              service: service
        - container:
            environment_variables:
              key: environment_variables
            image: image
            size: 2123345576459398144
            logging:
              tcp:
                port: 39501
                host: host
              new_relic:
                host: host
                ingestion_key: ingestion_key
              datadog:
                api_key: api_key
                host: host
                tags:
                - name: name
                  value: value
                - name: name
                  value: value
                - name: name
                  value: value
                - name: name
                  value: value
                - name: name
                  value: value
              http:
                path: path
                headers:
                - name: name
                  value: value
                - name: name
                  value: value
                - name: name
                  value: value
                - name: name
                  value: value
                - name: name
                  value: value
                password: password
                port: 5249
                host: host
                format: json
                compression: none
                user: user
              splunk:
                host: host
                token: token
              axiom:
                api_token: api_token
                host: host
                dataset: dataset
            resources:
              storage_amount: 30733868583
              memory: 37044
              cpu: 3
              gpu_classes:
              - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
              - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
              - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
              - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
              - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            image_caching: true
            command:
            - command
            - command
            - command
            - command
            - command
            hash: hash
          autostart_policy: true
          create_time: 2000-01-23T04:56:07.000+00:00
          replicas: 335
          current_state:
            start_time: 2000-01-23T04:56:07.000+00:00
            instance_status_counts:
              creating_count: 1997469940
              running_count: 776546568
              allocating_count: 1516424369
              stopping_count: 435321354
            description: description
            finish_time: 2000-01-23T04:56:07.000+00:00
            status: pending
          networking:
            load_balancer: round_robin
            protocol: http
            server_response_timeout: 99657
            auth: true
            port: 32931
            single_connection_limit: false
            dns: http://example.com/aeiou
            client_request_timeout: 49652
          queue_connection:
            queue_name: queue_name
            path: path
            port: 45646
          organization_name: organization_name
          display_name: display_name
          priority: high
          project_name: project_name
          version: 1399983448
          readiness_probe:
            tcp:
              port: 48874
            period_seconds: 81
            initial_delay_seconds: 346
            failure_threshold: 3
            http:
              headers:
              - name: name
                value: value
              - name: name
                value: value
              - name: name
                value: value
              - name: name
                value: value
              - name: name
                value: value
              path: path
              scheme: http
              port: 8070
            success_threshold: 7
            timeout_seconds: 36
            exec:
              command:
              - command
              - command
              - command
              - command
              - command
            grpc:
              port: 48406
              service: service
          update_time: 2000-01-23T04:56:07.000+00:00
          pending_change: true
          queue_autoscaler:
            max_upscale_per_minute: 90
            polling_period: 649
            desired_queue_length: 93
            min_replicas: 64
            max_replicas: 334
            max_downscale_per_minute: 87
          restart_policy: always
          startup_probe:
            tcp:
              port: 48874
            period_seconds: 86
            initial_delay_seconds: 371
            failure_threshold: 7
            http:
              headers:
              - name: name
                value: value
              - name: name
                value: value
              - name: name
                value: value
              - name: name
                value: value
              - name: name
                value: value
              path: path
              scheme: http
              port: 8070
            success_threshold: 1
            timeout_seconds: 42
            exec:
              command:
              - command
              - command
              - command
              - command
              - command
            grpc:
              port: 48406
              service: service
          name: name
          country_codes:
          - af
          - af
          - af
          - af
          - af
          id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          liveness_probe:
            tcp:
              port: 48874
            period_seconds: 18
            initial_delay_seconds: 122
            failure_threshold: 8
            http:
              headers:
              - name: name
                value: value
              - name: name
                value: value
              - name: name
                value: value
              - name: name
                value: value
              - name: name
                value: value
              path: path
              scheme: http
              port: 8070
            success_threshold: 7
            timeout_seconds: 7
            exec:
              command:
              - command
              - command
              - command
              - command
              - command
            grpc:
              port: 48406
              service: service
        - container:
            environment_variables:
              key: environment_variables
            image: image
            size: 2123345576459398144
            logging:
              tcp:
                port: 39501
                host: host
              new_relic:
                host: host
                ingestion_key: ingestion_key
              datadog:
                api_key: api_key
                host: host
                tags:
                - name: name
                  value: value
                - name: name
                  value: value
                - name: name
                  value: value
                - name: name
                  value: value
                - name: name
                  value: value
              http:
                path: path
                headers:
                - name: name
                  value: value
                - name: name
                  value: value
                - name: name
                  value: value
                - name: name
                  value: value
                - name: name
                  value: value
                password: password
                port: 5249
                host: host
                format: json
                compression: none
                user: user
              splunk:
                host: host
                token: token
              axiom:
                api_token: api_token
                host: host
                dataset: dataset
            resources:
              storage_amount: 30733868583
              memory: 37044
              cpu: 3
              gpu_classes:
              - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
              - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
              - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
              - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
              - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            image_caching: true
            command:
            - command
            - command
            - command
            - command
            - command
            hash: hash
          autostart_policy: true
          create_time: 2000-01-23T04:56:07.000+00:00
          replicas: 335
          current_state:
            start_time: 2000-01-23T04:56:07.000+00:00
            instance_status_counts:
              creating_count: 1997469940
              running_count: 776546568
              allocating_count: 1516424369
              stopping_count: 435321354
            description: description
            finish_time: 2000-01-23T04:56:07.000+00:00
            status: pending
          networking:
            load_balancer: round_robin
            protocol: http
            server_response_timeout: 99657
            auth: true
            port: 32931
            single_connection_limit: false
            dns: http://example.com/aeiou
            client_request_timeout: 49652
          queue_connection:
            queue_name: queue_name
            path: path
            port: 45646
          organization_name: organization_name
          display_name: display_name
          priority: high
          project_name: project_name
          version: 1399983448
          readiness_probe:
            tcp:
              port: 48874
            period_seconds: 81
            initial_delay_seconds: 346
            failure_threshold: 3
            http:
              headers:
              - name: name
                value: value
              - name: name
                value: value
              - name: name
                value: value
              - name: name
                value: value
              - name: name
                value: value
              path: path
              scheme: http
              port: 8070
            success_threshold: 7
            timeout_seconds: 36
            exec:
              command:
              - command
              - command
              - command
              - command
              - command
            grpc:
              port: 48406
              service: service
          update_time: 2000-01-23T04:56:07.000+00:00
          pending_change: true
          queue_autoscaler:
            max_upscale_per_minute: 90
            polling_period: 649
            desired_queue_length: 93
            min_replicas: 64
            max_replicas: 334
            max_downscale_per_minute: 87
          restart_policy: always
          startup_probe:
            tcp:
              port: 48874
            period_seconds: 86
            initial_delay_seconds: 371
            failure_threshold: 7
            http:
              headers:
              - name: name
                value: value
              - name: name
                value: value
              - name: name
                value: value
              - name: name
                value: value
              - name: name
                value: value
              path: path
              scheme: http
              port: 8070
            success_threshold: 1
            timeout_seconds: 42
            exec:
              command:
              - command
              - command
              - command
              - command
              - command
            grpc:
              port: 48406
              service: service
          name: name
          country_codes:
          - af
          - af
          - af
          - af
          - af
          id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          liveness_probe:
            tcp:
              port: 48874
            period_seconds: 18
            initial_delay_seconds: 122
            failure_threshold: 8
            http:
              headers:
              - name: name
                value: value
              - name: name
                value: value
              - name: name
                value: value
              - name: name
                value: value
              - name: name
                value: value
              path: path
              scheme: http
              port: 8070
            success_threshold: 7
            timeout_seconds: 7
            exec:
              command:
              - command
              - command
              - command
              - command
              - command
            grpc:
              port: 48406
              service: service
        - container:
            environment_variables:
              key: environment_variables
            image: image
            size: 2123345576459398144
            logging:
              tcp:
                port: 39501
                host: host
              new_relic:
                host: host
                ingestion_key: ingestion_key
              datadog:
                api_key: api_key
                host: host
                tags:
                - name: name
                  value: value
                - name: name
                  value: value
                - name: name
                  value: value
                - name: name
                  value: value
                - name: name
                  value: value
              http:
                path: path
                headers:
                - name: name
                  value: value
                - name: name
                  value: value
                - name: name
                  value: value
                - name: name
                  value: value
                - name: name
                  value: value
                password: password
                port: 5249
                host: host
                format: json
                compression: none
                user: user
              splunk:
                host: host
                token: token
              axiom:
                api_token: api_token
                host: host
                dataset: dataset
            resources:
              storage_amount: 30733868583
              memory: 37044
              cpu: 3
              gpu_classes:
              - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
              - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
              - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
              - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
              - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            image_caching: true
            command:
            - command
            - command
            - command
            - command
            - command
            hash: hash
          autostart_policy: true
          create_time: 2000-01-23T04:56:07.000+00:00
          replicas: 335
          current_state:
            start_time: 2000-01-23T04:56:07.000+00:00
            instance_status_counts:
              creating_count: 1997469940
              running_count: 776546568
              allocating_count: 1516424369
              stopping_count: 435321354
            description: description
            finish_time: 2000-01-23T04:56:07.000+00:00
            status: pending
          networking:
            load_balancer: round_robin
            protocol: http
            server_response_timeout: 99657
            auth: true
            port: 32931
            single_connection_limit: false
            dns: http://example.com/aeiou
            client_request_timeout: 49652
          queue_connection:
            queue_name: queue_name
            path: path
            port: 45646
          organization_name: organization_name
          display_name: display_name
          priority: high
          project_name: project_name
          version: 1399983448
          readiness_probe:
            tcp:
              port: 48874
            period_seconds: 81
            initial_delay_seconds: 346
            failure_threshold: 3
            http:
              headers:
              - name: name
                value: value
              - name: name
                value: value
              - name: name
                value: value
              - name: name
                value: value
              - name: name
                value: value
              path: path
              scheme: http
              port: 8070
            success_threshold: 7
            timeout_seconds: 36
            exec:
              command:
              - command
              - command
              - command
              - command
              - command
            grpc:
              port: 48406
              service: service
          update_time: 2000-01-23T04:56:07.000+00:00
          pending_change: true
          queue_autoscaler:
            max_upscale_per_minute: 90
            polling_period: 649
            desired_queue_length: 93
            min_replicas: 64
            max_replicas: 334
            max_downscale_per_minute: 87
          restart_policy: always
          startup_probe:
            tcp:
              port: 48874
            period_seconds: 86
            initial_delay_seconds: 371
            failure_threshold: 7
            http:
              headers:
              - name: name
                value: value
              - name: name
                value: value
              - name: name
                value: value
              - name: name
                value: value
              - name: name
                value: value
              path: path
              scheme: http
              port: 8070
            success_threshold: 1
            timeout_seconds: 42
            exec:
              command:
              - command
              - command
              - command
              - command
              - command
            grpc:
              port: 48406
              service: service
          name: name
          country_codes:
          - af
          - af
          - af
          - af
          - af
          id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          liveness_probe:
            tcp:
              port: 48874
            period_seconds: 18
            initial_delay_seconds: 122
            failure_threshold: 8
            http:
              headers:
              - name: name
                value: value
              - name: name
                value: value
              - name: name
                value: value
              - name: name
                value: value
              - name: name
                value: value
              path: path
              scheme: http
              port: 8070
            success_threshold: 7
            timeout_seconds: 7
            exec:
              command:
              - command
              - command
              - command
              - command
              - command
            grpc:
              port: 48406
              service: service
        - container:
            environment_variables:
              key: environment_variables
            image: image
            size: 2123345576459398144
            logging:
              tcp:
                port: 39501
                host: host
              new_relic:
                host: host
                ingestion_key: ingestion_key
              datadog:
                api_key: api_key
                host: host
                tags:
                - name: name
                  value: value
                - name: name
                  value: value
                - name: name
                  value: value
                - name: name
                  value: value
                - name: name
                  value: value
              http:
                path: path
                headers:
                - name: name
                  value: value
                - name: name
                  value: value
                - name: name
                  value: value
                - name: name
                  value: value
                - name: name
                  value: value
                password: password
                port: 5249
                host: host
                format: json
                compression: none
                user: user
              splunk:
                host: host
                token: token
              axiom:
                api_token: api_token
                host: host
                dataset: dataset
            resources:
              storage_amount: 30733868583
              memory: 37044
              cpu: 3
              gpu_classes:
              - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
              - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
              - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
              - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
              - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            image_caching: true
            command:
            - command
            - command
            - command
            - command
            - command
            hash: hash
          autostart_policy: true
          create_time: 2000-01-23T04:56:07.000+00:00
          replicas: 335
          current_state:
            start_time: 2000-01-23T04:56:07.000+00:00
            instance_status_counts:
              creating_count: 1997469940
              running_count: 776546568
              allocating_count: 1516424369
              stopping_count: 435321354
            description: description
            finish_time: 2000-01-23T04:56:07.000+00:00
            status: pending
          networking:
            load_balancer: round_robin
            protocol: http
            server_response_timeout: 99657
            auth: true
            port: 32931
            single_connection_limit: false
            dns: http://example.com/aeiou
            client_request_timeout: 49652
          queue_connection:
            queue_name: queue_name
            path: path
            port: 45646
          organization_name: organization_name
          display_name: display_name
          priority: high
          project_name: project_name
          version: 1399983448
          readiness_probe:
            tcp:
              port: 48874
            period_seconds: 81
            initial_delay_seconds: 346
            failure_threshold: 3
            http:
              headers:
              - name: name
                value: value
              - name: name
                value: value
              - name: name
                value: value
              - name: name
                value: value
              - name: name
                value: value
              path: path
              scheme: http
              port: 8070
            success_threshold: 7
            timeout_seconds: 36
            exec:
              command:
              - command
              - command
              - command
              - command
              - command
            grpc:
              port: 48406
              service: service
          update_time: 2000-01-23T04:56:07.000+00:00
          pending_change: true
          queue_autoscaler:
            max_upscale_per_minute: 90
            polling_period: 649
            desired_queue_length: 93
            min_replicas: 64
            max_replicas: 334
            max_downscale_per_minute: 87
          restart_policy: always
          startup_probe:
            tcp:
              port: 48874
            period_seconds: 86
            initial_delay_seconds: 371
            failure_threshold: 7
            http:
              headers:
              - name: name
                value: value
              - name: name
                value: value
              - name: name
                value: value
              - name: name
                value: value
              - name: name
                value: value
              path: path
              scheme: http
              port: 8070
            success_threshold: 1
            timeout_seconds: 42
            exec:
              command:
              - command
              - command
              - command
              - command
              - command
            grpc:
              port: 48406
              service: service
          name: name
          country_codes:
          - af
          - af
          - af
          - af
          - af
          id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          liveness_probe:
            tcp:
              port: 48874
            period_seconds: 18
            initial_delay_seconds: 122
            failure_threshold: 8
            http:
              headers:
              - name: name
                value: value
              - name: name
                value: value
              - name: name
                value: value
              - name: name
                value: value
              - name: name
                value: value
              path: path
              scheme: http
              port: 8070
            success_threshold: 7
            timeout_seconds: 7
            exec:
              command:
              - command
              - command
              - command
              - command
              - command
            grpc:
              port: 48406
              service: service
      properties:
        items:
          description: "An array containing container group objects. Each object represents\
            \ a discrete container group with its own properties, configuration, and\
            \ status."
          items:
            $ref: '#/components/schemas/ContainerGroup'
          maxItems: 100
          minItems: 0
          type: array
      required:
      - items
      title: Container Group Collection
    ContainerGroupId:
      description: The container group identifier.
      format: uuid
      title: Container Group ID
      type: string
    ContainerGroupInstance:
      description: "A Container Group Instance represents a running instance of a\
        \ container group on a specific machine. It provides information about the\
        \ execution state, readiness, and version of the deployed container group."
      example:
        update_time: 2000-01-23T04:56:07.000+00:00
        ready: true
        deletion_cost: 60274
        machine_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        started: true
        id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        state: allocating
        version: 171976545
      properties:
        id:
          description: The container group instance identifier.
          format: uuid
          title: Container Group Instance ID
          type: string
        machine_id:
          description: The container group machine identifier.
          format: uuid
          title: Container Group Machine ID
          type: string
        state:
          $ref: '#/components/schemas/ContainerGroupInstanceState'
        update_time:
          description: The UTC timestamp when the container group instance last changed
            its state. This helps track the lifecycle and state transitions of the
            instance.
          format: date-time
          type: string
        version:
          description: The version of the container group definition currently running
            on this instance. Used to track deployment and update progress across
            the container group fleet.
          format: int32
          maximum: 2147483647
          minimum: 1
          type: integer
        ready:
          description: "Indicates whether the container group instance is currently\
            \ passing its readiness checks and is able to receive traffic or perform\
            \ its intended function. If no readiness probe is defined, this will be\
            \ true once the instance is fully started."
          type: boolean
        started:
          description: Indicates whether the container group instance has successfully
            completed its startup sequence and passed any configured startup probes.
            This will always be true when no startup probe is defined for the container
            group.
          type: boolean
        deletion_cost:
          default: 0
          description: The cost of deleting the container group instance
          maximum: 100000
          minimum: 0
          type: integer
      required:
      - id
      - machine_id
      - state
      - update_time
      - version
    ContainerGroupInstanceCollection:
      description: A collection of container group instances returned as part of a
        paginated response or batch operation result.
      example:
        instances:
        - update_time: 2000-01-23T04:56:07.000+00:00
          ready: true
          deletion_cost: 60274
          machine_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          started: true
          id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          state: allocating
          version: 171976545
        - update_time: 2000-01-23T04:56:07.000+00:00
          ready: true
          deletion_cost: 60274
          machine_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          started: true
          id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          state: allocating
          version: 171976545
        - update_time: 2000-01-23T04:56:07.000+00:00
          ready: true
          deletion_cost: 60274
          machine_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          started: true
          id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          state: allocating
          version: 171976545
        - update_time: 2000-01-23T04:56:07.000+00:00
          ready: true
          deletion_cost: 60274
          machine_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          started: true
          id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          state: allocating
          version: 171976545
        - update_time: 2000-01-23T04:56:07.000+00:00
          ready: true
          deletion_cost: 60274
          machine_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          started: true
          id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          state: allocating
          version: 171976545
      properties:
        instances:
          description: "An array of container group instances, each representing a\
            \ deployed container group with its current state and configuration information."
          items:
            $ref: '#/components/schemas/ContainerGroupInstance'
          maxItems: 1000
          minItems: 0
          type: array
      required:
      - instances
      title: Container Group Instance Collection
    ContainerGroupInstanceId:
      description: The container group instance identifier.
      format: uuid
      title: Container Group Instance ID
      type: string
    ContainerGroupInstancePatch:
      additionalProperties: false
      description: Represents a request to update a container group instance
      properties:
        deletion_cost:
          description: The cost of deleting the container group instance
          maximum: 100000
          minimum: 0
          nullable: true
          type: integer
    ContainerGroupInstanceState:
      description: The state of the container group instance
      enum:
      - allocating
      - downloading
      - creating
      - running
      - stopping
      title: The Container Group Instance State
      type: string
    ContainerGroupInstanceStatusCount:
      description: A summary of container group instances categorized by their current
        lifecycle status
      example:
        creating_count: 1997469940
        running_count: 776546568
        allocating_count: 1516424369
        stopping_count: 435321354
      properties:
        allocating_count:
          description: The number of container instances that are currently being
            allocated resources
          format: int32
          maximum: 2147483647
          minimum: 0
          type: integer
        creating_count:
          description: The number of container instances that are in the process of
            being created
          format: int32
          maximum: 2147483647
          minimum: 0
          type: integer
        running_count:
          description: The number of container instances that are currently running
            and operational
          format: int32
          maximum: 2147483647
          minimum: 0
          type: integer
        stopping_count:
          description: The number of container instances that are in the process of
            stopping
          format: int32
          maximum: 2147483647
          minimum: 0
          type: integer
      required:
      - allocating_count
      - creating_count
      - running_count
      - stopping_count
    ContainerGroupLivenessProbe:
      description: Defines a liveness probe for container groups that determines when
        to restart a container if it becomes unhealthy
      example:
        tcp:
          port: 48874
        period_seconds: 18
        initial_delay_seconds: 122
        failure_threshold: 8
        http:
          headers:
          - name: name
            value: value
          - name: name
            value: value
          - name: name
            value: value
          - name: name
            value: value
          - name: name
            value: value
          path: path
          scheme: http
          port: 8070
        success_threshold: 7
        timeout_seconds: 7
        exec:
          command:
          - command
          - command
          - command
          - command
          - command
        grpc:
          port: 48406
          service: service
      properties:
        exec:
          $ref: '#/components/schemas/ContainerGroupProbeExec'
        failure_threshold:
          default: 3
          description: Number of consecutive failures required to consider the probe
            as failed
          format: int32
          maximum: 20
          minimum: 1
          type: integer
        grpc:
          $ref: '#/components/schemas/ContainerGroupProbeGrpc'
        http:
          $ref: '#/components/schemas/ContainerGroupProbeHttp'
        initial_delay_seconds:
          default: 0
          description: Number of seconds to wait after container start before initiating
            liveness probes
          format: int32
          maximum: 1200
          minimum: 0
          type: integer
        period_seconds:
          default: 10
          description: Frequency in seconds at which the probe should be executed
          format: int32
          maximum: 120
          minimum: 1
          type: integer
        success_threshold:
          default: 1
          description: Number of consecutive successes required to consider the probe
            successful
          format: int32
          maximum: 10
          minimum: 1
          type: integer
        tcp:
          $ref: '#/components/schemas/ContainerGroupProbeTcp'
        timeout_seconds:
          default: 30
          description: Number of seconds after which the probe times out if no response
            is received
          format: int32
          maximum: 60
          minimum: 1
          type: integer
      required:
      - failure_threshold
      - initial_delay_seconds
      - period_seconds
      - success_threshold
      - timeout_seconds
    ContainerGroupMachineId:
      description: The container group machine identifier.
      format: uuid
      title: Container Group Machine ID
      type: string
    ContainerGroupName:
      description: The container group name.
      maxLength: 63
      minLength: 2
      pattern: "^[a-z][a-z0-9-]{0,61}[a-z0-9]$"
      title: Container Group Name
      type: string
    ContainerGroupNetworking:
      description: "Network configuration for container groups that defines connectivity,\
[...]
