openapi: 3.1.0
info:
  contact:
    email: cloud@salad.com
    name: SaladCloud Support
    url: https://salad.com
  description: "The SaladCloud REST API. Please refer to the [SaladCloud API Documentation](https://docs.salad.com/api-reference)\
    \ for more details."
  license:
    name: MIT License
  termsOfService: https://salad.com/terms
  title: SaladCloud API
  version: 0.9.0-alpha.7
servers:
- url: https://api.salad.com/api/public
security:
- ApiKeyAuth: []
tags:
- description: Container Groups
  name: container_groups
- description: Inference Endpoints
  name: inference_endpoints
- description: Auxiliary organization data and info
  name: organization_data
- description: Job Queues
  name: queues
- description: quotas
  name: quotas
- description: Workload Errors
  name: workload_errors
- description: System Logs
  name: system_logs
- description: Webhook Secret Key
  name: webhook_secret_key
paths:
  /organizations/{organization_name}/projects/{project_name}/containers:
    description: Operations for container groups
    get:
      description: Gets the list of container groups
      operationId: list_container_groups
      parameters:
      - $ref: '#/components/parameters/organization_name'
      - $ref: '#/components/parameters/project_name'
      responses:
        "200":
          $ref: '#/components/responses/ListContainerGroups'
        "429":
          $ref: '#/components/responses/429'
        default:
          $ref: '#/components/responses/UnknownError'
      summary: List Container Groups
      tags:
      - container_groups
    parameters:
    - $ref: '#/components/parameters/organization_name'
    - $ref: '#/components/parameters/project_name'
    post:
      description: Creates a new container group
      operationId: create_container_group
      parameters:
      - $ref: '#/components/parameters/organization_name'
      - $ref: '#/components/parameters/project_name'
      requestBody:
        $ref: '#/components/requestBodies/CreateContainerGroup'
      responses:
        "201":
          $ref: '#/components/responses/CreateContainerGroup'
        "400":
          $ref: '#/components/responses/400'
        "403":
          $ref: '#/components/responses/403'
        "429":
          $ref: '#/components/responses/429'
        default:
          $ref: '#/components/responses/UnknownError'
      summary: Create Container Group
      tags:
      - container_groups
      x-liblab-resource: ContainerGroup#Create
    summary: Container Groups
  /organizations/{organization_name}/projects/{project_name}/containers/{container_group_name}:
    delete:
      description: Deletes a container group
      operationId: delete_container_group
      parameters:
      - $ref: '#/components/parameters/organization_name'
      - $ref: '#/components/parameters/project_name'
      - $ref: '#/components/parameters/container_group_name'
      responses:
        "202":
          $ref: '#/components/responses/DeleteContainerGroup'
        "403":
          $ref: '#/components/responses/403'
        "404":
          $ref: '#/components/responses/404'
        "429":
          $ref: '#/components/responses/429'
        default:
          $ref: '#/components/responses/UnknownError'
      summary: Delete Container Group
      tags:
      - container_groups
      x-liblab-resource: ContainerGroup#Delete
    description: Operations for a container group
    get:
      description: Gets a container group
      operationId: get_container_group
      parameters:
      - $ref: '#/components/parameters/organization_name'
      - $ref: '#/components/parameters/project_name'
      - $ref: '#/components/parameters/container_group_name'
      responses:
        "200":
          $ref: '#/components/responses/GetContainerGroup'
        "404":
          $ref: '#/components/responses/404'
        "429":
          $ref: '#/components/responses/429'
        default:
          $ref: '#/components/responses/UnknownError'
      summary: Get Container Group
      tags:
      - container_groups
      x-liblab-datasource: ContainerGroup#Read
      x-liblab-resource: ContainerGroup#Read
    parameters:
    - $ref: '#/components/parameters/organization_name'
    - $ref: '#/components/parameters/project_name'
    - $ref: '#/components/parameters/container_group_name'
    patch:
      description: Updates a container group
      operationId: update_container_group
      parameters:
      - $ref: '#/components/parameters/organization_name'
      - $ref: '#/components/parameters/project_name'
      - $ref: '#/components/parameters/container_group_name'
      requestBody:
        $ref: '#/components/requestBodies/UpdateContainerGroup'
      responses:
        "200":
          $ref: '#/components/responses/UpdateContainerGroup'
        "400":
          $ref: '#/components/responses/400'
        "403":
          $ref: '#/components/responses/403'
        "404":
          $ref: '#/components/responses/404'
        "429":
          $ref: '#/components/responses/429'
        default:
          $ref: '#/components/responses/UnknownError'
      summary: Update Container Group
      tags:
      - container_groups
      x-liblab-resource: ContainerGroup#Update
    summary: Container Group
  /organizations/{organization_name}/projects/{project_name}/containers/{container_group_name}/errors:
    description: Operations for workload errors
    get:
      deprecated: true
      description: Gets the workload errors. This has been deprecated and will be
        replaced by the new System Logs endpoint. See `/system-logs`.
      operationId: get_workload_errors
      parameters:
      - $ref: '#/components/parameters/organization_name'
      - $ref: '#/components/parameters/project_name'
      - $ref: '#/components/parameters/container_group_name'
      responses:
        "200":
          $ref: '#/components/responses/ListWorkloadErrors'
        "404":
          $ref: '#/components/responses/404'
        "429":
          $ref: '#/components/responses/429'
        default:
          $ref: '#/components/responses/UnknownError'
      summary: Get Workload Errors
      tags:
      - workload_errors
    parameters:
    - $ref: '#/components/parameters/organization_name'
    - $ref: '#/components/parameters/project_name'
    - $ref: '#/components/parameters/container_group_name'
    summary: Workload Errors
  /organizations/{organization_name}/projects/{project_name}/containers/{container_group_name}/system-logs:
    description: Operations for System Logs
    get:
      description: Gets the System Logs
      operationId: get_system_logs
      parameters:
      - $ref: '#/components/parameters/organization_name'
      - $ref: '#/components/parameters/project_name'
      - $ref: '#/components/parameters/container_group_name'
      responses:
        "200":
          $ref: '#/components/responses/ListSystemLogs'
        "404":
          $ref: '#/components/responses/404'
        "429":
          $ref: '#/components/responses/429'
        default:
          $ref: '#/components/responses/UnknownError'
      summary: Get System Logs
      tags:
      - system_logs
    parameters:
    - $ref: '#/components/parameters/organization_name'
    - $ref: '#/components/parameters/project_name'
    - $ref: '#/components/parameters/container_group_name'
    summary: System Logs
  /organizations/{organization_name}/projects/{project_name}/containers/{container_group_name}/start:
    description: Operations for a container group
    parameters:
    - $ref: '#/components/parameters/organization_name'
    - $ref: '#/components/parameters/project_name'
    - $ref: '#/components/parameters/container_group_name'
    post:
      description: Starts a container group
      operationId: start_container_group
      parameters:
      - $ref: '#/components/parameters/organization_name'
      - $ref: '#/components/parameters/project_name'
      - $ref: '#/components/parameters/container_group_name'
      responses:
        "202":
          $ref: '#/components/responses/StartContainerGroup'
        "400":
          $ref: '#/components/responses/400'
        "403":
          $ref: '#/components/responses/403'
        "429":
          $ref: '#/components/responses/429'
        default:
          $ref: '#/components/responses/UnknownError'
      summary: Start Container Group
      tags:
      - container_groups
    summary: Container Group
  /organizations/{organization_name}/projects/{project_name}/containers/{container_group_name}/stop:
    description: Operations for a container group
    parameters:
    - $ref: '#/components/parameters/organization_name'
    - $ref: '#/components/parameters/project_name'
    - $ref: '#/components/parameters/container_group_name'
    post:
      description: Stops a container group
      operationId: stop_container_group
      parameters:
      - $ref: '#/components/parameters/organization_name'
      - $ref: '#/components/parameters/project_name'
      - $ref: '#/components/parameters/container_group_name'
      responses:
        "202":
          $ref: '#/components/responses/StopContainerGroup'
        "400":
          $ref: '#/components/responses/400'
        "403":
          $ref: '#/components/responses/403'
        "429":
          $ref: '#/components/responses/429'
        default:
          $ref: '#/components/responses/UnknownError'
      summary: Stop Container Group
      tags:
      - container_groups
    summary: Container Group
  /organizations/{organization_name}/projects/{project_name}/containers/{container_group_name}/instances:
    description: Operations for container group instances
    get:
      description: Gets the list of container group instances
      operationId: list_container_group_instances
      parameters:
      - $ref: '#/components/parameters/organization_name'
      - $ref: '#/components/parameters/project_name'
      - $ref: '#/components/parameters/container_group_name'
      responses:
        "200":
          $ref: '#/components/responses/ListContainerGroupInstances'
        "404":
          $ref: '#/components/responses/404'
        "429":
          $ref: '#/components/responses/429'
        default:
          $ref: '#/components/responses/UnknownError'
      summary: List Container Group Instances
      tags:
      - container_groups
    parameters:
    - $ref: '#/components/parameters/organization_name'
    - $ref: '#/components/parameters/project_name'
    - $ref: '#/components/parameters/container_group_name'
    summary: Container Group Instances
  ? /organizations/{organization_name}/projects/{project_name}/containers/{container_group_name}/instances/{container_group_instance_id}
  : description: Operations for a container group instance
    get:
      description: Gets a container group instance
      operationId: get_container_group_instance
      parameters:
      - $ref: '#/components/parameters/organization_name'
      - $ref: '#/components/parameters/project_name'
      - $ref: '#/components/parameters/container_group_name'
      - $ref: '#/components/parameters/container_group_instance_id'
      responses:
        "202":
          $ref: '#/components/responses/GetContainerGroupInstance'
        "404":
          $ref: '#/components/responses/404'
        "429":
          $ref: '#/components/responses/429'
        default:
          $ref: '#/components/responses/UnknownError'
      summary: Get Container Group Instance
      tags:
      - container_groups
    parameters:
    - $ref: '#/components/parameters/organization_name'
    - $ref: '#/components/parameters/project_name'
    - $ref: '#/components/parameters/container_group_name'
    - $ref: '#/components/parameters/container_group_instance_id'
    summary: Container Group Instance
  ? /organizations/{organization_name}/projects/{project_name}/containers/{container_group_name}/instances/{container_group_instance_id}/reallocate
  : description: Operations for a container group instance
    parameters:
    - $ref: '#/components/parameters/organization_name'
    - $ref: '#/components/parameters/project_name'
    - $ref: '#/components/parameters/container_group_name'
    - $ref: '#/components/parameters/container_group_instance_id'
    post:
      description: Reallocates a container group instance to run on a different Salad
        Node
      operationId: reallocate_container_group_instance
      parameters:
      - $ref: '#/components/parameters/organization_name'
      - $ref: '#/components/parameters/project_name'
      - $ref: '#/components/parameters/container_group_name'
      - $ref: '#/components/parameters/container_group_instance_id'
      responses:
        "202":
          $ref: '#/components/responses/ReallocateContainerGroupInstance'
        "404":
          $ref: '#/components/responses/404'
        "429":
          $ref: '#/components/responses/429'
        default:
          $ref: '#/components/responses/UnknownError'
      summary: Reallocate Container Group Instance
      tags:
      - container_groups
    summary: Container Group Instance
  ? /organizations/{organization_name}/projects/{project_name}/containers/{container_group_name}/instances/{container_group_instance_id}/recreate
  : description: Operations for a container group instance
    parameters:
    - $ref: '#/components/parameters/organization_name'
    - $ref: '#/components/parameters/project_name'
    - $ref: '#/components/parameters/container_group_name'
    - $ref: '#/components/parameters/container_group_instance_id'
    post:
      description: "Stops a container, destroys it, and starts a new one without requiring\
        \ the image to be downloaded again on a new Salad Node"
      operationId: recreate_container_group_instance
      parameters:
      - $ref: '#/components/parameters/organization_name'
      - $ref: '#/components/parameters/project_name'
      - $ref: '#/components/parameters/container_group_name'
      - $ref: '#/components/parameters/container_group_instance_id'
      responses:
        "202":
          $ref: '#/components/responses/RecreateContainerGroupInstance'
        "404":
          $ref: '#/components/responses/404'
        "429":
          $ref: '#/components/responses/429'
        default:
          $ref: '#/components/responses/UnknownError'
      summary: Recreate Container Group Instance
      tags:
      - container_groups
    summary: Container Group Instance
  ? /organizations/{organization_name}/projects/{project_name}/containers/{container_group_name}/instances/{container_group_instance_id}/restart
  : description: Operations for a container group instance
    parameters:
    - $ref: '#/components/parameters/organization_name'
    - $ref: '#/components/parameters/project_name'
    - $ref: '#/components/parameters/container_group_name'
    - $ref: '#/components/parameters/container_group_instance_id'
    post:
      description: Stops a container and restarts it on the same Salad Node
      operationId: restart_container_group_instance
      parameters:
      - $ref: '#/components/parameters/organization_name'
      - $ref: '#/components/parameters/project_name'
      - $ref: '#/components/parameters/container_group_name'
      - $ref: '#/components/parameters/container_group_instance_id'
      responses:
        "202":
          $ref: '#/components/responses/RestartContainerGroupInstance'
        "404":
          $ref: '#/components/responses/404'
        "429":
          $ref: '#/components/responses/429'
        default:
          $ref: '#/components/responses/UnknownError'
      summary: Restart container Group Instance
      tags:
      - container_groups
    summary: Container Group Instance
  /organizations/{organization_name}/projects/{project_name}/queues:
    description: Operations for queues
    get:
      description: Gets the list of queues in the given project.
      operationId: list_queues
      parameters:
      - $ref: '#/components/parameters/organization_name'
      - $ref: '#/components/parameters/project_name'
      responses:
        "200":
          $ref: '#/components/responses/ListQueues'
        "404":
          $ref: '#/components/responses/404'
        "429":
          $ref: '#/components/responses/429'
        default:
          $ref: '#/components/responses/UnknownError'
      summary: List Queues
      tags:
      - queues
    parameters:
    - $ref: '#/components/parameters/organization_name'
    - $ref: '#/components/parameters/project_name'
    post:
      description: Creates a new queue in the given project.
      operationId: create_queue
      parameters:
      - $ref: '#/components/parameters/organization_name'
      - $ref: '#/components/parameters/project_name'
      requestBody:
        $ref: '#/components/requestBodies/CreateQueue'
      responses:
        "201":
          $ref: '#/components/responses/CreateQueue'
        "400":
          $ref: '#/components/responses/400'
        "404":
          $ref: '#/components/responses/404'
        "429":
          $ref: '#/components/responses/429'
        default:
          $ref: '#/components/responses/UnknownError'
      summary: Create Queue
      tags:
      - queues
      x-liblab-resource: Queue#Create
    summary: Queues
  /organizations/{organization_name}/projects/{project_name}/queues/{queue_name}:
    delete:
      description: Deletes an existing queue in the given project.
      operationId: delete_queue
      parameters:
      - $ref: '#/components/parameters/organization_name'
      - $ref: '#/components/parameters/project_name'
      - $ref: '#/components/parameters/queue_name'
      responses:
        "202":
          $ref: '#/components/responses/DeleteQueue'
        "404":
          $ref: '#/components/responses/404'
        "429":
          $ref: '#/components/responses/429'
        default:
          $ref: '#/components/responses/UnknownError'
      summary: Delete Queue
      tags:
      - queues
      x-liblab-resource: Queue#Delete
    description: Operations for a queue
    get:
      description: Gets an existing queue in the given project.
      operationId: get_queue
      parameters:
      - $ref: '#/components/parameters/organization_name'
      - $ref: '#/components/parameters/project_name'
      - $ref: '#/components/parameters/queue_name'
      responses:
        "200":
          $ref: '#/components/responses/GetQueue'
        "404":
          $ref: '#/components/responses/404'
        "429":
          $ref: '#/components/responses/429'
        default:
          $ref: '#/components/responses/UnknownError'
      summary: Get Queue
      tags:
      - queues
      x-liblab-datasource: Queue#Read
      x-liblab-resource: Queue#Read
    parameters:
    - $ref: '#/components/parameters/organization_name'
    - $ref: '#/components/parameters/project_name'
    - $ref: '#/components/parameters/queue_name'
    patch:
      description: Updates an existing queue in the given project.
      operationId: update_queue
      parameters:
      - $ref: '#/components/parameters/organization_name'
      - $ref: '#/components/parameters/project_name'
      - $ref: '#/components/parameters/queue_name'
      requestBody:
        $ref: '#/components/requestBodies/UpdateQueue'
      responses:
        "200":
          $ref: '#/components/responses/UpdateQueue'
        "400":
          $ref: '#/components/responses/400'
        "404":
          $ref: '#/components/responses/404'
        "429":
          $ref: '#/components/responses/429'
        default:
          $ref: '#/components/responses/UnknownError'
      summary: Update Queue
      tags:
      - queues
      x-liblab-resource: Queue#Update
    summary: Queue
  /organizations/{organization_name}/projects/{project_name}/queues/{queue_name}/jobs:
    description: Operations for jobs in a queue
    get:
      description: Gets the list of jobs in a queue
      operationId: list_queue_jobs
      parameters:
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/page_size'
      - $ref: '#/components/parameters/organization_name'
      - $ref: '#/components/parameters/project_name'
      - $ref: '#/components/parameters/queue_name'
      responses:
        "200":
          $ref: '#/components/responses/ListQueueJobs'
        "404":
          $ref: '#/components/responses/404'
        "429":
          $ref: '#/components/responses/429'
        default:
          $ref: '#/components/responses/UnknownError'
      summary: List Jobs
      tags:
      - queues
    parameters:
    - $ref: '#/components/parameters/organization_name'
    - $ref: '#/components/parameters/project_name'
    - $ref: '#/components/parameters/queue_name'
    post:
      description: Creates a new job
      operationId: create_queue_job
      parameters:
      - $ref: '#/components/parameters/organization_name'
      - $ref: '#/components/parameters/project_name'
      - $ref: '#/components/parameters/queue_name'
      requestBody:
        $ref: '#/components/requestBodies/CreateQueueJob'
      responses:
        "201":
          $ref: '#/components/responses/CreateQueueJob'
        "400":
          $ref: '#/components/responses/400'
        "404":
          $ref: '#/components/responses/404'
        "429":
          $ref: '#/components/responses/429'
        default:
          $ref: '#/components/responses/UnknownError'
      summary: Create Job
      tags:
      - queues
    summary: Jobs in a Queue
  /organizations/{organization_name}/projects/{project_name}/queues/{queue_name}/jobs/{queue_job_id}:
    delete:
      description: Cancels a job in a queue
      operationId: delete_queue_job
      parameters:
      - $ref: '#/components/parameters/organization_name'
      - $ref: '#/components/parameters/project_name'
      - $ref: '#/components/parameters/queue_name'
      - $ref: '#/components/parameters/queue_job_id'
      responses:
        "202":
          $ref: '#/components/responses/DeleteQueueJob'
        "404":
          $ref: '#/components/responses/404'
        "429":
          $ref: '#/components/responses/429'
        default:
          $ref: '#/components/responses/UnknownError'
      summary: Delete Job
      tags:
      - queues
    description: Operations for jobs in a queue
    get:
      description: Gets a job in a queue
      operationId: get_queue_job
      parameters:
      - $ref: '#/components/parameters/organization_name'
      - $ref: '#/components/parameters/project_name'
      - $ref: '#/components/parameters/queue_name'
      - $ref: '#/components/parameters/queue_job_id'
      responses:
        "200":
          $ref: '#/components/responses/GetQueueJob'
        "404":
          $ref: '#/components/responses/404'
        "429":
          $ref: '#/components/responses/429'
        default:
          $ref: '#/components/responses/UnknownError'
      summary: Get Job
      tags:
      - queues
    parameters:
    - $ref: '#/components/parameters/organization_name'
    - $ref: '#/components/parameters/project_name'
    - $ref: '#/components/parameters/queue_name'
    - $ref: '#/components/parameters/queue_job_id'
    summary: Jobs in a Queue
  /organizations/{organization_name}/quotas:
    description: Operations for quotas
    get:
      description: Gets the organization quotas
      operationId: get_quotas
      parameters:
      - $ref: '#/components/parameters/organization_name'
      responses:
        "200":
          $ref: '#/components/responses/GetQuotas'
        "404":
          $ref: '#/components/responses/404'
        "429":
          $ref: '#/components/responses/429'
        default:
          $ref: '#/components/responses/UnknownError'
      summary: Get Quotas
      tags:
      - quotas
      x-liblab-datasource: OrganizationQuotas#Read
    parameters:
    - $ref: '#/components/parameters/organization_name'
    summary: Quotas
  /organizations/{organization_name}/inference-endpoints:
    description: Operations for inference endpoints
    get:
      description: Lists inference endpoints.
      operationId: list_inference_endpoints
      parameters:
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/page_size'
      - $ref: '#/components/parameters/organization_name'
      responses:
        "200":
          $ref: '#/components/responses/ListInferenceEndpoints'
        "400":
          $ref: '#/components/responses/400'
        "401":
          $ref: '#/components/responses/401'
        "403":
          $ref: '#/components/responses/403'
        "404":
          $ref: '#/components/responses/404'
        "429":
          $ref: '#/components/responses/429'
        default:
          $ref: '#/components/responses/UnknownError'
      summary: List Inference Endpoints
      tags:
      - inference_endpoints
    parameters:
    - $ref: '#/components/parameters/organization_name'
    summary: Inference Endpoints
  /organizations/{organization_name}/inference-endpoints/{inference_endpoint_name}:
    description: Operations for an inference endpoint
    get:
      description: Gets an inference endpoint.
      operationId: get_inference_endpoint
      parameters:
      - $ref: '#/components/parameters/organization_name'
      - $ref: '#/components/parameters/inference_endpoint_name'
      responses:
        "200":
          $ref: '#/components/responses/GetInferenceEndpoint'
        "401":
          $ref: '#/components/responses/401'
        "403":
          $ref: '#/components/responses/403'
        "404":
          $ref: '#/components/responses/404'
        "429":
          $ref: '#/components/responses/429'
        default:
          $ref: '#/components/responses/UnknownError'
      summary: Get an Inference Endpoint
      tags:
      - inference_endpoints
    parameters:
    - $ref: '#/components/parameters/organization_name'
    - $ref: '#/components/parameters/inference_endpoint_name'
    summary: Inference Endpoints
  /organizations/{organization_name}/inference-endpoints/{inference_endpoint_name}/jobs:
    description: Operations for jobs in an inference endpoint
    get:
      description: Lists inference endpoint jobs.
      operationId: list_inference_endpoint_jobs
      parameters:
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/page_size'
      - $ref: '#/components/parameters/organization_name'
      - $ref: '#/components/parameters/inference_endpoint_name'
      responses:
        "200":
          $ref: '#/components/responses/ListInferenceEndpointJobs'
        "400":
          $ref: '#/components/responses/400'
        "401":
          $ref: '#/components/responses/401'
        "403":
          $ref: '#/components/responses/403'
        "404":
          $ref: '#/components/responses/404'
        "429":
          $ref: '#/components/responses/429'
        default:
          $ref: '#/components/responses/UnknownError'
      summary: List Inference Endpoint Jobs
      tags:
      - inference_endpoints
    parameters:
    - $ref: '#/components/parameters/organization_name'
    - $ref: '#/components/parameters/inference_endpoint_name'
    post:
      description: Creates a new inference endpoint job.
      operationId: create_inference_endpoint_job
      parameters:
      - $ref: '#/components/parameters/organization_name'
      - $ref: '#/components/parameters/inference_endpoint_name'
      requestBody:
        $ref: '#/components/requestBodies/CreateInferenceEndpointJob'
      responses:
        "201":
          $ref: '#/components/responses/CreateInferenceEndpointJob'
        "400":
          $ref: '#/components/responses/400'
        "401":
          $ref: '#/components/responses/401'
        "403":
          $ref: '#/components/responses/403'
        "404":
          $ref: '#/components/responses/404'
        "429":
          $ref: '#/components/responses/429'
        default:
          $ref: '#/components/responses/UnknownError'
      summary: Create a New Inference Endpoint Job
      tags:
      - inference_endpoints
    summary: Jobs in an inference endpoint
  /organizations/{organization_name}/inference-endpoints/{inference_endpoint_name}/jobs/{inference_endpoint_job_id}:
    delete:
      description: Cancels an inference endpoint job.
      operationId: cancel_inference_endpoint_job
      parameters:
      - $ref: '#/components/parameters/organization_name'
      - $ref: '#/components/parameters/inference_endpoint_name'
      - $ref: '#/components/parameters/inference_endpoint_job_id'
      responses:
        "202":
          $ref: '#/components/responses/202'
        "400":
          $ref: '#/components/responses/400'
        "401":
          $ref: '#/components/responses/401'
        "403":
          $ref: '#/components/responses/403'
        "404":
          $ref: '#/components/responses/404'
        "429":
          $ref: '#/components/responses/429'
        default:
          $ref: '#/components/responses/UnknownError'
      summary: Cancel an Inference Endpoint Job
      tags:
      - inference_endpoints
    description: Operations for jobs in an inference endpoint
    get:
      description: Gets an inference endpoint job.
      operationId: get_inference_endpoint_job
      parameters:
      - $ref: '#/components/parameters/organization_name'
      - $ref: '#/components/parameters/inference_endpoint_name'
      - $ref: '#/components/parameters/inference_endpoint_job_id'
      responses:
        "200":
          $ref: '#/components/responses/GetInferenceEndpointJob'
        "401":
          $ref: '#/components/responses/401'
        "403":
          $ref: '#/components/responses/403'
        "404":
          $ref: '#/components/responses/404'
        "429":
          $ref: '#/components/responses/429'
        default:
          $ref: '#/components/responses/UnknownError'
      summary: Get an Inference Endpoint Job
      tags:
      - inference_endpoints
    parameters:
    - $ref: '#/components/parameters/organization_name'
    - $ref: '#/components/parameters/inference_endpoint_name'
    - $ref: '#/components/parameters/inference_endpoint_job_id'
    summary: Jobs in an inference endpoint
  /organizations/{organization_name}/gpu-classes:
    description: Allows reading the GPU Classes collection available for the organization
    get:
      description: List the GPU Classes
      operationId: list_gpu_classes
      parameters:
      - $ref: '#/components/parameters/organization_name'
      responses:
        "200":
          $ref: '#/components/responses/ListGpuClasses'
        "404":
          $ref: '#/components/responses/404'
        "429":
          $ref: '#/components/responses/429'
        default:
          $ref: '#/components/responses/UnknownError'
      summary: List the GPU Classes
      tags:
      - organization_data
      x-liblab-datasource: OrganizationGpuClasses#Read
    parameters:
    - $ref: '#/components/parameters/organization_name'
    summary: GPU Classes
  /organizations/{organization_name}/webhook-secret-key:
    get:
      description: Gets the webhook secret key
      operationId: get_webhook_secret_key
      parameters:
      - $ref: '#/components/parameters/organization_name'
      responses:
        "200":
          $ref: '#/components/responses/WebhookSecretKey'
        "404":
          $ref: '#/components/responses/404'
        "429":
          $ref: '#/components/responses/429'
        default:
          $ref: '#/components/responses/UnknownError'
      summary: Gets the webhook secret key
      tags:
      - webhook_secret_key
    parameters:
    - $ref: '#/components/parameters/organization_name'
    post:
      description: Updates the webhook secret key
      operationId: update_webhook_secret_key
      parameters:
      - $ref: '#/components/parameters/organization_name'
      responses:
        "200":
          $ref: '#/components/responses/WebhookSecretKey'
        "404":
          $ref: '#/components/responses/404'
        "429":
          $ref: '#/components/responses/429'
        default:
          $ref: '#/components/responses/UnknownError'
      summary: Updates the webhook secret key
      tags:
      - webhook_secret_key
components:
  parameters:
    container_group_instance_id:
      description: The unique instance identifier
      explode: false
      in: path
      name: container_group_instance_id
      required: true
      schema:
        format: uuid
        type: string
      style: simple
    container_group_name:
      description: The unique container group name
      explode: false
      in: path
      name: container_group_name
      required: true
      schema:
        maxLength: 63
        minLength: 2
        pattern: "^[a-z][a-z0-9-]{0,61}[a-z0-9]$"
        type: string
      style: simple
    inference_endpoint_job_id:
      explode: false
      in: path
      name: inference_endpoint_job_id
      required: true
      schema:
        $ref: '#/components/schemas/inference_endpoint_job_id'
      style: simple
    inference_endpoint_name:
      explode: false
      in: path
      name: inference_endpoint_name
      required: true
      schema:
        $ref: '#/components/schemas/inference_endpoint_name'
      style: simple
    organization_name:
      description: "Your organization name. This identifies the billing context for\
        \ the API operation and represents a security boundary for SaladCloud resources.\
        \ The organization must be created before using the API, and you must be a\
        \ member of the organization."
      explode: false
      in: path
      name: organization_name
      required: true
      schema:
        $ref: '#/components/schemas/organization_name'
      style: simple
    page:
      explode: true
      in: query
      name: page
      required: false
      schema:
        $ref: '#/components/schemas/page'
      style: form
    page_size:
      explode: true
      in: query
      name: page_size
      required: false
      schema:
        $ref: '#/components/schemas/page_size'
      style: form
    project_name:
      description: Your project name. This represents a collection of related SaladCloud
        resources. The project must be created before using the API.
      explode: false
      in: path
      name: project_name
      required: true
      schema:
        $ref: '#/components/schemas/project_name'
      style: simple
    queue_job_id:
      description: The job identifier. This is automatically generated and assigned
        when the job is created.
      explode: false
      in: path
      name: queue_job_id
      required: true
      schema:
        format: uuid
        type: string
      style: simple
    queue_name:
      description: The queue name.
      explode: false
      in: path
      name: queue_name
      required: true
      schema:
        maxLength: 63
        minLength: 2
        pattern: "^[a-z][a-z0-9-]{0,61}[a-z0-9]$"
        type: string
      style: simple
  requestBodies:
    CreateContainerGroup:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/CreateContainerGroup'
      required: true
    CreateInferenceEndpointJob:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/CreateInferenceEndpointJob'
      required: true
    CreateQueue:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/CreateQueue'
      required: true
    CreateQueueJob:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/CreateQueueJob'
      required: true
    UpdateContainerGroup:
      content:
        application/merge-patch+json:
          schema:
            $ref: '#/components/schemas/UpdateContainerGroup'
      required: true
    UpdateQueue:
      content:
        application/merge-patch+json:
          schema:
            $ref: '#/components/schemas/UpdateQueue'
      required: true
  responses:
    "202":
      description: Accepted
    "400":
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ProblemDetails'
      description: Bad Request
    "401":
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ProblemDetails'
      description: Unauthorized
    "403":
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ProblemDetails'
      description: Forbidden
    "404":
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ProblemDetails'
      description: Not Found
    "429":
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ProblemDetails'
      description: Too Many Requests
    CreateContainerGroup:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ContainerGroup'
      description: Created
      headers:
        Location:
          explode: false
          schema:
            type: string
          style: simple
      links:
        get_container_group_by_name:
          operationId: get_container_group
          parameters:
            container_group_name: $response.body#/name
    CreateInferenceEndpointJob:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/InferenceEndpointJob'
      description: Created
      headers:
        Location:
          description: The URL of the new inference endpoint job.
          explode: false
          required: true
          schema:
            maxLength: 2048
            minLength: 1
            type: string
          style: simple
    CreateQueue:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Queue'
      description: Created
      headers:
        Location:
          explode: false
          schema:
            type: string
          style: simple
      links:
        get_queue_by_name:
          operationId: get_queue
          parameters:
            queue_name: $response.body#/name
    CreateQueueJob:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/QueueJob'
      description: Created
      headers:
        Location:
          explode: false
          schema:
            type: string
          style: simple
      links:
        get_queue_job_by_name:
          operationId: get_queue_job
          parameters:
            queue_job_id: $response.body#/id
    DeleteContainerGroup:
      description: Accepted
    DeleteQueue:
      description: Accepted
    DeleteQueueJob:
      description: Accepted
    GetContainerGroup:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ContainerGroup'
      description: OK
    GetContainerGroupInstance:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ContainerGroupInstance'
      description: OK
    GetInferenceEndpoint:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/InferenceEndpoint'
      description: OK
    GetInferenceEndpointJob:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/InferenceEndpointJob'
      description: OK
    GetQueue:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Queue'
      description: OK
    GetQueueJob:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/QueueJob'
      description: OK
    GetQuotas:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Quotas'
      description: OK
    ListContainerGroupInstances:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ContainerGroupInstances'
      description: OK
    ListContainerGroups:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ContainerGroupList'
      description: OK
    ListGpuClasses:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/GpuClassesList'
      description: OK
    ListInferenceEndpointJobs:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/InferenceEndpointJobList'
      description: OK
    ListInferenceEndpoints:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/InferenceEndpointList'
      description: OK
    ListQueueJobs:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/QueueJobList'
      description: OK
    ListQueues:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/QueueList'
      description: OK
    ListSystemLogs:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/SystemLogList'
      description: OK
    ListWorkloadErrors:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/WorkloadErrorList'
      description: OK
    ReallocateContainerGroupInstance:
      description: Accepted
    RecreateContainerGroupInstance:
      description: Accepted
    RestartContainerGroupInstance:
      description: Accepted
    StartContainerGroup:
      description: Accepted
    StopContainerGroup:
      description: Accepted
    UnknownError:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ProblemDetails'
      description: Unknown Error
    UpdateContainerGroup:
      content:
        application/merge-patch+json:
          schema:
            $ref: '#/components/schemas/ContainerGroup'
      description: OK
    UpdateQueue:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Queue'
      description: OK
    WebhookSecretKey:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/WebhookSecretKey'
      description: OK
  schemas:
    Container:
      additionalProperties: {}
      description: Represents a container
      example:
        image: image
        environment_variables:
          key: environment_variables
        size: 5
        resources:
          storage_amount: 8785874870
          memory: 37439
          cpu: 2
          gpu_classes:
          - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        logging:
          tcp:
            port: 36944
            host: host
          new_relic:
            host: host
            ingestion_key: ingestion_key
          datadog:
            api_key: api_key
            host: host
            tags:
            - name: name
              value: value
            - name: name
              value: value
            - name: name
              value: value
            - name: name
              value: value
            - name: name
              value: value
          splunk:
            host: host
            token: token
          http:
            path: path
            headers:
            - name: name
              value: value
            - name: name
              value: value
            - name: name
              value: value
            - name: name
              value: value
            - name: name
              value: value
            password: password
            port: 15087
            host: host
            format: json
            compression: none
            user: user
          axiom:
            api_token: api_token
            host: host
            dataset: dataset
        priority: high
        image_caching: true
        command:
        - command
        - command
        - command
        - command
        - command
        hash: hash
      properties:
        image:
          maxLength: 1024
          minLength: 1
        resources:
          $ref: '#/components/schemas/ContainerResourceRequirements'
        command:
          items: {}
          maxItems: 100
          minItems: 0
        priority:
          $ref: '#/components/schemas/ContainerGroupPriority'
        size:
          format: int64
        hash: {}
        environment_variables:
          additionalProperties: {}
        logging:
          $ref: '#/components/schemas/Container_logging'
        image_caching: {}
      required:
      - command
      - image
      - resources
    ContainerGroup:
      additionalProperties: false
      description: Represents a container group
      example:
        container:
          image: image
          environment_variables:
            key: environment_variables
          size: 5
          resources:
            storage_amount: 8785874870
            memory: 37439
            cpu: 2
            gpu_classes:
            - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          logging:
            tcp:
              port: 36944
              host: host
            new_relic:
              host: host
              ingestion_key: ingestion_key
            datadog:
              api_key: api_key
              host: host
              tags:
              - name: name
                value: value
              - name: name
                value: value
              - name: name
                value: value
              - name: name
                value: value
              - name: name
                value: value
            splunk:
              host: host
              token: token
            http:
              path: path
              headers:
              - name: name
                value: value
              - name: name
                value: value
              - name: name
                value: value
              - name: name
                value: value
              - name: name
                value: value
              password: password
              port: 15087
              host: host
              format: json
              compression: none
              user: user
            axiom:
              api_token: api_token
              host: host
              dataset: dataset
          priority: high
          image_caching: true
          command:
          - command
          - command
          - command
          - command
          - command
          hash: hash
        autostart_policy: true
        create_time: 2000-01-23T04:56:07.000+00:00
        replicas: 70
        current_state:
          start_time: 2000-01-23T04:56:07.000+00:00
          instance_status_counts:
            creating_count: 0
            running_count: 0
            allocating_count: 0
            stopping_count: 0
          description: description
          finish_time: 2000-01-23T04:56:07.000+00:00
          status: pending
        networking:
          load_balancer: round_robin
          protocol: http
          server_response_timeout: 10247
          port: 48406
          auth: true
          single_connection_limit: false
          dns: http://example.com/aeiou
          client_request_timeout: 12316
        queue_connection:
          queue_name: queue_name
          path: path
          port: 38960
        display_name: display_name
        version: 1
        readiness_probe:
          tcp:
            port: 9761
          period_seconds: 1
          initial_delay_seconds: 0
          failure_threshold: 1
          http:
            path: path
            headers:
            - name: name
              value: value
            - name: name
              value: value
            scheme: http
            port: 44871
          success_threshold: 1
          timeout_seconds: 1
          grpc:
            port: 48875
            service: service
          exec:
            command:
            - command
            - command
        update_time: 2000-01-23T04:56:07.000+00:00
        pending_change: true
        queue_autoscaler:
          max_upscale_per_minute: 70
          polling_period: 172
          desired_queue_length: 71
          min_replicas: 33
          max_replicas: 155
          max_downscale_per_minute: 65
        restart_policy: always
        startup_probe:
          tcp:
            port: 9761
          period_seconds: 1
          initial_delay_seconds: 0
          failure_threshold: 1
          http:
            path: path
            headers:
            - name: name
              value: value
            - name: name
              value: value
            scheme: http
            port: 44871
          success_threshold: 1
          timeout_seconds: 1
          grpc:
            port: 48875
            service: service
          exec:
            command:
            - command
            - command
        name: name
        country_codes:
        - af
        - af
        - af
        - af
        - af
        id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        liveness_probe:
          tcp:
            port: 9761
          period_seconds: 1
          initial_delay_seconds: 0
          failure_threshold: 1
          http:
            path: path
            headers:
            - name: name
              value: value
            - name: name
              value: value
            scheme: http
            port: 44871
          success_threshold: 1
          timeout_seconds: 1
          grpc:
            port: 48875
            service: service
          exec:
            command:
            - command
            - command
      properties:
        id:
          format: uuid
          type: string
        name:
          maxLength: 63
          minLength: 2
          pattern: "^[a-z][a-z0-9-]{0,61}[a-z0-9]$"
          type: string
        display_name:
          maxLength: 63
          minLength: 2
          pattern: "^[ ,-.0-9A-Za-z]+$"
          type: string
        container:
          $ref: '#/components/schemas/Container'
        autostart_policy:
          type: boolean
        restart_policy:
          $ref: '#/components/schemas/ContainerRestartPolicy'
        replicas:
          maximum: 100
          minimum: 0
          type: integer
        current_state:
          $ref: '#/components/schemas/ContainerGroupState'
        country_codes:
          description: List of countries nodes must be located in. Remove this field
            to permit nodes from any country.
          items:
            $ref: '#/components/schemas/CountryCode'
          maxItems: 500
          minItems: 1
          type: array
        networking:
          $ref: '#/components/schemas/ContainerGroupNetworking'
        liveness_probe:
          $ref: '#/components/schemas/ContainerGroupLivenessProbe'
        readiness_probe:
          $ref: '#/components/schemas/ContainerGroupReadinessProbe'
        startup_probe:
          $ref: '#/components/schemas/ContainerGroupStartupProbe'
        queue_connection:
          $ref: '#/components/schemas/ContainerGroupQueueConnection'
        create_time:
          format: date-time
          type: string
        update_time:
          format: date-time
          type: string
        pending_change:
          type: boolean
        version:
          minimum: 1
          type: integer
        queue_autoscaler:
          $ref: '#/components/schemas/QueueAutoscaler'
      required:
      - autostart_policy
      - container
      - create_time
      - current_state
      - display_name
      - id
      - name
      - pending_change
      - replicas
      - restart_policy
      - update_time
      - version
    ContainerGroupInstance:
      additionalProperties: false
      description: Represents the details of a single container group instance
      example:
        update_time: 2000-01-23T04:56:07.000+00:00
        instance_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        ready: true
        machine_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        started: true
        state: allocating
        version: 1
      properties:
        instance_id:
          description: The unique instance ID
          format: uuid
          type: string
        machine_id:
          description: The machine ID
          format: uuid
          type: string
        state:
          description: The state of the container group instance
          enum:
          - allocating
          - downloading
          - creating
          - running
          - stopping
          type: string
        update_time:
          description: The UTC date & time when the workload on this machine transitioned
            to the current state
          format: date-time
          type: string
        version:
          description: The version of the running container group
          minimum: 1
          type: integer
        ready:
          description: "Specifies whether the container group instance is currently\
            \ passing its readiness check. If no readiness probe is defined, is true\
            \ once fully started."
          type: boolean
        started:
          description: Specifies whether the container group instance passed its startup
            probe. Is always true when no startup probe is defined.
          type: boolean
      required:
      - instance_id
      - machine_id
      - state
      - update_time
      - version
    ContainerGroupInstanceStatusCount:
      additionalProperties: false
      description: Represents a container group instance status count
      example:
        creating_count: 0
        running_count: 0
        allocating_count: 0
        stopping_count: 0
      properties:
        allocating_count:
          minimum: 0
          type: integer
        creating_count:
          minimum: 0
          type: integer
        running_count:
          minimum: 0
          type: integer
        stopping_count:
          minimum: 0
          type: integer
      required:
      - allocating_count
      - creating_count
      - running_count
      - stopping_count
    ContainerGroupInstances:
      additionalProperties: false
      description: Represents a list of container group instances
      example:
        instances:
        - update_time: 2000-01-23T04:56:07.000+00:00
          instance_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          ready: true
          machine_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          started: true
          state: allocating
          version: 1
        - update_time: 2000-01-23T04:56:07.000+00:00
          instance_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          ready: true
          machine_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          started: true
          state: allocating
          version: 1
        - update_time: 2000-01-23T04:56:07.000+00:00
          instance_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          ready: true
          machine_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          started: true
          state: allocating
          version: 1
        - update_time: 2000-01-23T04:56:07.000+00:00
          instance_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          ready: true
          machine_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          started: true
          state: allocating
          version: 1
        - update_time: 2000-01-23T04:56:07.000+00:00
          instance_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          ready: true
          machine_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          started: true
          state: allocating
          version: 1
      properties:
        instances:
          items:
            $ref: '#/components/schemas/ContainerGroupInstance'
          maxItems: 1000
          minItems: 0
          type: array
      required:
      - instances
    ContainerGroupList:
      additionalProperties: false
      description: Represents a list of container groups
      example:
        items:
        - container:
            image: image
            environment_variables:
              key: environment_variables
            size: 5
            resources:
              storage_amount: 8785874870
              memory: 37439
              cpu: 2
              gpu_classes:
              - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
              - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            logging:
              tcp:
                port: 36944
                host: host
              new_relic:
                host: host
                ingestion_key: ingestion_key
              datadog:
                api_key: api_key
                host: host
                tags:
                - name: name
                  value: value
                - name: name
                  value: value
                - name: name
                  value: value
                - name: name
                  value: value
                - name: name
                  value: value
              splunk:
                host: host
                token: token
              http:
                path: path
                headers:
                - name: name
                  value: value
                - name: name
                  value: value
                - name: name
                  value: value
                - name: name
                  value: value
                - name: name
                  value: value
                password: password
                port: 15087
                host: host
                format: json
                compression: none
                user: user
              axiom:
                api_token: api_token
                host: host
                dataset: dataset
            priority: high
            image_caching: true
            command:
            - command
            - command
            - command
            - command
            - command
            hash: hash
          autostart_policy: true
          create_time: 2000-01-23T04:56:07.000+00:00
          replicas: 70
          current_state:
            start_time: 2000-01-23T04:56:07.000+00:00
            instance_status_counts:
              creating_count: 0
              running_count: 0
              allocating_count: 0
              stopping_count: 0
            description: description
            finish_time: 2000-01-23T04:56:07.000+00:00
            status: pending
          networking:
            load_balancer: round_robin
            protocol: http
            server_response_timeout: 10247
            port: 48406
            auth: true
            single_connection_limit: false
            dns: http://example.com/aeiou
            client_request_timeout: 12316
          queue_connection:
            queue_name: queue_name
            path: path
            port: 38960
          display_name: display_name
          version: 1
          readiness_probe:
            tcp:
              port: 9761
            period_seconds: 1
            initial_delay_seconds: 0
            failure_threshold: 1
            http:
              path: path
              headers:
              - name: name
                value: value
              - name: name
                value: value
              scheme: http
              port: 44871
            success_threshold: 1
            timeout_seconds: 1
            grpc:
              port: 48875
              service: service
            exec:
              command:
              - command
              - command
          update_time: 2000-01-23T04:56:07.000+00:00
          pending_change: true
          queue_autoscaler:
            max_upscale_per_minute: 70
            polling_period: 172
            desired_queue_length: 71
            min_replicas: 33
            max_replicas: 155
            max_downscale_per_minute: 65
          restart_policy: always
          startup_probe:
            tcp:
              port: 9761
            period_seconds: 1
            initial_delay_seconds: 0
            failure_threshold: 1
            http:
              path: path
              headers:
              - name: name
                value: value
              - name: name
                value: value
              scheme: http
              port: 44871
            success_threshold: 1
            timeout_seconds: 1
            grpc:
              port: 48875
              service: service
            exec:
              command:
              - command
              - command
          name: name
          country_codes:
          - af
          - af
          - af
          - af
          - af
          id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          liveness_probe:
            tcp:
              port: 9761
            period_seconds: 1
            initial_delay_seconds: 0
            failure_threshold: 1
            http:
              path: path
              headers:
              - name: name
                value: value
              - name: name
                value: value
              scheme: http
              port: 44871
            success_threshold: 1
            timeout_seconds: 1
            grpc:
              port: 48875
              service: service
            exec:
              command:
              - command
              - command
        - container:
            image: image
            environment_variables:
              key: environment_variables
            size: 5
            resources:
              storage_amount: 8785874870
              memory: 37439
              cpu: 2
              gpu_classes:
              - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
              - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            logging:
              tcp:
                port: 36944
                host: host
              new_relic:
                host: host
                ingestion_key: ingestion_key
              datadog:
                api_key: api_key
                host: host
                tags:
                - name: name
                  value: value
                - name: name
                  value: value
                - name: name
                  value: value
                - name: name
                  value: value
                - name: name
                  value: value
              splunk:
                host: host
                token: token
              http:
                path: path
                headers:
                - name: name
                  value: value
                - name: name
                  value: value
                - name: name
                  value: value
                - name: name
                  value: value
                - name: name
                  value: value
                password: password
                port: 15087
                host: host
                format: json
                compression: none
                user: user
              axiom:
                api_token: api_token
                host: host
                dataset: dataset
            priority: high
            image_caching: true
            command:
            - command
            - command
            - command
            - command
            - command
            hash: hash
          autostart_policy: true
          create_time: 2000-01-23T04:56:07.000+00:00
          replicas: 70
          current_state:
            start_time: 2000-01-23T04:56:07.000+00:00
            instance_status_counts:
              creating_count: 0
              running_count: 0
              allocating_count: 0
              stopping_count: 0
            description: description
            finish_time: 2000-01-23T04:56:07.000+00:00
            status: pending
          networking:
            load_balancer: round_robin
            protocol: http
            server_response_timeout: 10247
            port: 48406
            auth: true
            single_connection_limit: false
            dns: http://example.com/aeiou
            client_request_timeout: 12316
          queue_connection:
            queue_name: queue_name
            path: path
            port: 38960
          display_name: display_name
          version: 1
          readiness_probe:
            tcp:
              port: 9761
            period_seconds: 1
            initial_delay_seconds: 0
            failure_threshold: 1
            http:
              path: path
              headers:
              - name: name
                value: value
              - name: name
                value: value
              scheme: http
              port: 44871
            success_threshold: 1
            timeout_seconds: 1
            grpc:
              port: 48875
              service: service
            exec:
              command:
              - command
              - command
          update_time: 2000-01-23T04:56:07.000+00:00
          pending_change: true
          queue_autoscaler:
            max_upscale_per_minute: 70
            polling_period: 172
            desired_queue_length: 71
            min_replicas: 33
            max_replicas: 155
            max_downscale_per_minute: 65
          restart_policy: always
          startup_probe:
            tcp:
              port: 9761
            period_seconds: 1
            initial_delay_seconds: 0
            failure_threshold: 1
            http:
              path: path
              headers:
              - name: name
                value: value
              - name: name
                value: value
              scheme: http
              port: 44871
            success_threshold: 1
            timeout_seconds: 1
            grpc:
              port: 48875
              service: service
            exec:
              command:
              - command
              - command
          name: name
          country_codes:
          - af
          - af
          - af
          - af
          - af
          id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          liveness_probe:
            tcp:
              port: 9761
            period_seconds: 1
            initial_delay_seconds: 0
            failure_threshold: 1
            http:
              path: path
              headers:
              - name: name
                value: value
              - name: name
                value: value
              scheme: http
              port: 44871
            success_threshold: 1
            timeout_seconds: 1
            grpc:
              port: 48875
              service: service
            exec:
              command:
              - command
              - command
        - container:
            image: image
            environment_variables:
              key: environment_variables
            size: 5
            resources:
              storage_amount: 8785874870
              memory: 37439
              cpu: 2
              gpu_classes:
              - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
              - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            logging:
              tcp:
                port: 36944
                host: host
              new_relic:
                host: host
                ingestion_key: ingestion_key
              datadog:
                api_key: api_key
                host: host
                tags:
                - name: name
                  value: value
                - name: name
                  value: value
                - name: name
                  value: value
                - name: name
                  value: value
                - name: name
                  value: value
              splunk:
                host: host
                token: token
              http:
                path: path
                headers:
                - name: name
                  value: value
                - name: name
                  value: value
                - name: name
                  value: value
                - name: name
                  value: value
                - name: name
                  value: value
                password: password
                port: 15087
                host: host
                format: json
                compression: none
                user: user
              axiom:
                api_token: api_token
                host: host
                dataset: dataset
            priority: high
            image_caching: true
            command:
            - command
            - command
            - command
            - command
            - command
            hash: hash
          autostart_policy: true
          create_time: 2000-01-23T04:56:07.000+00:00
          replicas: 70
          current_state:
            start_time: 2000-01-23T04:56:07.000+00:00
            instance_status_counts:
              creating_count: 0
              running_count: 0
              allocating_count: 0
              stopping_count: 0
            description: description
            finish_time: 2000-01-23T04:56:07.000+00:00
            status: pending
          networking:
            load_balancer: round_robin
            protocol: http
            server_response_timeout: 10247
            port: 48406
            auth: true
            single_connection_limit: false
            dns: http://example.com/aeiou
            client_request_timeout: 12316
          queue_connection:
            queue_name: queue_name
            path: path
            port: 38960
          display_name: display_name
          version: 1
          readiness_probe:
            tcp:
              port: 9761
            period_seconds: 1
            initial_delay_seconds: 0
            failure_threshold: 1
            http:
              path: path
              headers:
              - name: name
                value: value
              - name: name
                value: value
              scheme: http
              port: 44871
            success_threshold: 1
            timeout_seconds: 1
            grpc:
              port: 48875
              service: service
            exec:
              command:
              - command
              - command
          update_time: 2000-01-23T04:56:07.000+00:00
          pending_change: true
          queue_autoscaler:
            max_upscale_per_minute: 70
            polling_period: 172
            desired_queue_length: 71
            min_replicas: 33
            max_replicas: 155
            max_downscale_per_minute: 65
          restart_policy: always
          startup_probe:
            tcp:
              port: 9761
            period_seconds: 1
            initial_delay_seconds: 0
            failure_threshold: 1
            http:
              path: path
              headers:
              - name: name
                value: value
              - name: name
                value: value
              scheme: http
              port: 44871
            success_threshold: 1
            timeout_seconds: 1
            grpc:
              port: 48875
              service: service
            exec:
              command:
              - command
              - command
          name: name
          country_codes:
          - af
          - af
          - af
          - af
          - af
          id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          liveness_probe:
            tcp:
              port: 9761
            period_seconds: 1
            initial_delay_seconds: 0
            failure_threshold: 1
            http:
              path: path
              headers:
              - name: name
                value: value
              - name: name
                value: value
              scheme: http
              port: 44871
            success_threshold: 1
            timeout_seconds: 1
            grpc:
              port: 48875
              service: service
            exec:
              command:
              - command
              - command
        - container:
            image: image
            environment_variables:
              key: environment_variables
            size: 5
            resources:
              storage_amount: 8785874870
              memory: 37439
              cpu: 2
              gpu_classes:
              - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
              - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            logging:
              tcp:
                port: 36944
                host: host
              new_relic:
                host: host
                ingestion_key: ingestion_key
              datadog:
                api_key: api_key
                host: host
                tags:
                - name: name
                  value: value
                - name: name
                  value: value
                - name: name
                  value: value
                - name: name
                  value: value
                - name: name
                  value: value
              splunk:
                host: host
                token: token
              http:
                path: path
                headers:
                - name: name
                  value: value
                - name: name
                  value: value
                - name: name
                  value: value
                - name: name
                  value: value
                - name: name
                  value: value
                password: password
                port: 15087
                host: host
                format: json
                compression: none
                user: user
              axiom:
                api_token: api_token
                host: host
                dataset: dataset
            priority: high
            image_caching: true
            command:
            - command
            - command
            - command
            - command
            - command
            hash: hash
          autostart_policy: true
          create_time: 2000-01-23T04:56:07.000+00:00
          replicas: 70
          current_state:
            start_time: 2000-01-23T04:56:07.000+00:00
            instance_status_counts:
              creating_count: 0
              running_count: 0
              allocating_count: 0
              stopping_count: 0
            description: description
            finish_time: 2000-01-23T04:56:07.000+00:00
            status: pending
          networking:
            load_balancer: round_robin
            protocol: http
            server_response_timeout: 10247
            port: 48406
            auth: true
            single_connection_limit: false
            dns: http://example.com/aeiou
            client_request_timeout: 12316
          queue_connection:
            queue_name: queue_name
            path: path
            port: 38960
          display_name: display_name
          version: 1
          readiness_probe:
            tcp:
              port: 9761
            period_seconds: 1
            initial_delay_seconds: 0
            failure_threshold: 1
            http:
              path: path
              headers:
              - name: name
                value: value
              - name: name
                value: value
              scheme: http
              port: 44871
            success_threshold: 1
            timeout_seconds: 1
            grpc:
              port: 48875
              service: service
            exec:
              command:
              - command
              - command
          update_time: 2000-01-23T04:56:07.000+00:00
          pending_change: true
          queue_autoscaler:
            max_upscale_per_minute: 70
            polling_period: 172
            desired_queue_length: 71
            min_replicas: 33
            max_replicas: 155
            max_downscale_per_minute: 65
          restart_policy: always
          startup_probe:
            tcp:
              port: 9761
            period_seconds: 1
            initial_delay_seconds: 0
            failure_threshold: 1
            http:
              path: path
              headers:
              - name: name
                value: value
              - name: name
                value: value
              scheme: http
              port: 44871
            success_threshold: 1
            timeout_seconds: 1
            grpc:
              port: 48875
              service: service
            exec:
              command:
              - command
              - command
          name: name
          country_codes:
          - af
          - af
          - af
          - af
          - af
          id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          liveness_probe:
            tcp:
              port: 9761
            period_seconds: 1
            initial_delay_seconds: 0
            failure_threshold: 1
            http:
              path: path
              headers:
              - name: name
                value: value
              - name: name
                value: value
              scheme: http
              port: 44871
            success_threshold: 1
            timeout_seconds: 1
            grpc:
              port: 48875
              service: service
            exec:
              command:
              - command
              - command
        - container:
            image: image
            environment_variables:
              key: environment_variables
            size: 5
            resources:
              storage_amount: 8785874870
              memory: 37439
              cpu: 2
              gpu_classes:
              - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
              - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            logging:
              tcp:
                port: 36944
                host: host
              new_relic:
                host: host
                ingestion_key: ingestion_key
              datadog:
                api_key: api_key
                host: host
                tags:
                - name: name
                  value: value
                - name: name
                  value: value
                - name: name
                  value: value
                - name: name
                  value: value
                - name: name
                  value: value
              splunk:
                host: host
                token: token
              http:
                path: path
                headers:
                - name: name
                  value: value
                - name: name
                  value: value
                - name: name
                  value: value
                - name: name
                  value: value
                - name: name
                  value: value
                password: password
                port: 15087
                host: host
                format: json
                compression: none
                user: user
              axiom:
                api_token: api_token
                host: host
                dataset: dataset
            priority: high
            image_caching: true
            command:
            - command
            - command
            - command
            - command
            - command
            hash: hash
          autostart_policy: true
          create_time: 2000-01-23T04:56:07.000+00:00
          replicas: 70
          current_state:
            start_time: 2000-01-23T04:56:07.000+00:00
            instance_status_counts:
              creating_count: 0
              running_count: 0
              allocating_count: 0
              stopping_count: 0
            description: description
            finish_time: 2000-01-23T04:56:07.000+00:00
            status: pending
          networking:
            load_balancer: round_robin
            protocol: http
            server_response_timeout: 10247
            port: 48406
            auth: true
            single_connection_limit: false
            dns: http://example.com/aeiou
            client_request_timeout: 12316
          queue_connection:
            queue_name: queue_name
            path: path
            port: 38960
          display_name: display_name
          version: 1
          readiness_probe:
            tcp:
              port: 9761
            period_seconds: 1
            initial_delay_seconds: 0
            failure_threshold: 1
            http:
              path: path
              headers:
              - name: name
                value: value
              - name: name
                value: value
              scheme: http
              port: 44871
            success_threshold: 1
            timeout_seconds: 1
            grpc:
              port: 48875
              service: service
            exec:
              command:
              - command
              - command
          update_time: 2000-01-23T04:56:07.000+00:00
          pending_change: true
          queue_autoscaler:
            max_upscale_per_minute: 70
            polling_period: 172
            desired_queue_length: 71
            min_replicas: 33
            max_replicas: 155
            max_downscale_per_minute: 65
          restart_policy: always
          startup_probe:
            tcp:
              port: 9761
            period_seconds: 1
            initial_delay_seconds: 0
            failure_threshold: 1
            http:
              path: path
              headers:
              - name: name
                value: value
              - name: name
                value: value
              scheme: http
              port: 44871
            success_threshold: 1
            timeout_seconds: 1
            grpc:
              port: 48875
              service: service
            exec:
              command:
              - command
              - command
          name: name
          country_codes:
          - af
          - af
          - af
          - af
          - af
          id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          liveness_probe:
            tcp:
              port: 9761
            period_seconds: 1
            initial_delay_seconds: 0
            failure_threshold: 1
            http:
              path: path
              headers:
              - name: name
                value: value
              - name: name
                value: value
              scheme: http
              port: 44871
            success_threshold: 1
            timeout_seconds: 1
            grpc:
              port: 48875
              service: service
            exec:
              command:
              - command
              - command
      properties:
        items:
          items:
            $ref: '#/components/schemas/ContainerGroup'
          maxItems: 100
          minItems: 0
          type: array
      required:
      - items
    ContainerGroupLivenessProbe:
      additionalProperties: false
      description: Represents the container group liveness probe
      example:
        tcp:
          port: 9761
        period_seconds: 1
        initial_delay_seconds: 0
        failure_threshold: 1
        http:
          path: path
          headers:
          - name: name
            value: value
          - name: name
            value: value
          scheme: http
          port: 44871
        success_threshold: 1
        timeout_seconds: 1
        grpc:
          port: 48875
          service: service
        exec:
          command:
          - command
          - command
      properties:
        tcp:
          $ref: '#/components/schemas/ContainerGroupProbeTcp'
        http:
          $ref: '#/components/schemas/ContainerGroupProbeHttp'
        grpc:
          $ref: '#/components/schemas/ContainerGroupProbeGrpc'
        exec:
          $ref: '#/components/schemas/ContainerGroupProbeExec'
        initial_delay_seconds:
          default: 0
          minimum: 0
          type: integer
        period_seconds:
          default: 10
          minimum: 1
          type: integer
        timeout_seconds:
          default: 30
          minimum: 1
          type: integer
        success_threshold:
          default: 1
          minimum: 1
          type: integer
        failure_threshold:
          default: 3
          minimum: 1
          type: integer
      required:
      - failure_threshold
      - initial_delay_seconds
      - period_seconds
      - success_threshold
      - timeout_seconds
    ContainerGroupNetworking:
      additionalProperties: false
      description: Represents container group networking parameters
      example:
        load_balancer: round_robin
        protocol: http
        server_response_timeout: 10247
        port: 48406
        auth: true
        single_connection_limit: false
        dns: http://example.com/aeiou
        client_request_timeout: 12316
      properties:
        protocol:
          $ref: '#/components/schemas/ContainerNetworkingProtocol'
        port:
          maximum: 65535
          minimum: 1
          type: integer
        auth:
          type: boolean
        dns:
          format: url
          type: string
        load_balancer:
          default: round_robin
          enum:
          - round_robin
          - least_number_of_connections
          type: string
        single_connection_limit:
          default: false
          type: boolean
        client_request_timeout:
          default: 100000
          maximum: 100000
          minimum: 1
          type: integer
        server_response_timeout:
          default: 100000
          maximum: 100000
          minimum: 1
          type: integer
      required:
      - auth
      - dns
      - port
      - protocol
    ContainerGroupPriority:
      enum:
      - high
      - medium
      - low
      - batch
      nullable: true
      type: string
    ContainerGroupProbeExec:
      additionalProperties: false
      example:
        command:
        - command
        - command
      properties:
        command:
          items:
            type: string
          type: array
      required:
      - command
    ContainerGroupProbeGrpc:
      additionalProperties: false
      example:
        port: 48875
        service: service
      properties:
        service:
          type: string
        port:
          maximum: 65536
          minimum: 0
          type: integer
      required:
      - port
      - service
    ContainerGroupProbeHttp:
      additionalProperties: false
      example:
        path: path
        headers:
        - name: name
          value: value
        - name: name
          value: value
        scheme: http
        port: 44871
      properties:
        path:
          type: string
        port:
          maximum: 65536
          minimum: 0
          type: integer
        scheme:
          $ref: '#/components/schemas/ContainerProbeHttpScheme'
        headers:
          items:
            $ref: '#/components/schemas/HttpHeaders_inner'
          type: array
      required:
      - path
      - port
    ContainerGroupProbeTcp:
      additionalProperties: false
      example:
        port: 9761
      properties:
        port:
          maximum: 65536
          minimum: 0
          type: integer
      required:
      - port
    ContainerGroupQueueConnection:
      additionalProperties: false
      description: Represents container group queue connection
      example:
        queue_name: queue_name
        path: path
        port: 38960
      properties:
        path:
          maxLength: 1024
          minLength: 1
          type: string
        port:
          maximum: 65535
          minimum: 1
          type: integer
        queue_name:
          maxLength: 63
          minLength: 2
          pattern: "^[a-z][a-z0-9-]{0,61}[a-z0-9]$"
          type: string
      required:
      - path
      - port
      - queue_name
    ContainerGroupReadinessProbe:
      additionalProperties: false
      description: Represents the container group readiness probe
      example:
        tcp:
          port: 9761
        period_seconds: 1
        initial_delay_seconds: 0
        failure_threshold: 1
        http:
          path: path
          headers:
          - name: name
            value: value
          - name: name
            value: value
          scheme: http
          port: 44871
        success_threshold: 1
        timeout_seconds: 1
        grpc:
          port: 48875
          service: service
        exec:
          command:
          - command
          - command
      properties:
        tcp:
          $ref: '#/components/schemas/ContainerGroupProbeTcp'
        http:
          $ref: '#/components/schemas/ContainerGroupProbeHttp'
        grpc:
          $ref: '#/components/schemas/ContainerGroupProbeGrpc'
        exec:
          $ref: '#/components/schemas/ContainerGroupProbeExec'
        initial_delay_seconds:
          default: 0
          minimum: 0
          type: integer
        period_seconds:
          default: 1
          minimum: 1
          type: integer
        timeout_seconds:
          default: 1
          minimum: 1
          type: integer
        success_threshold:
          default: 1
          minimum: 1
          type: integer
        failure_threshold:
          default: 3
          minimum: 1
          type: integer
      required:
      - failure_threshold
      - initial_delay_seconds
      - period_seconds
      - success_threshold
      - timeout_seconds
    ContainerGroupStartupProbe:
      additionalProperties: false
      description: Represents the container group startup probe
      example:
        tcp:
          port: 9761
        period_seconds: 1
        initial_delay_seconds: 0
        failure_threshold: 1
        http:
          path: path
          headers:
          - name: name
            value: value
          - name: name
            value: value
          scheme: http
          port: 44871
        success_threshold: 1
        timeout_seconds: 1
        grpc:
          port: 48875
          service: service
        exec:
          command:
          - command
          - command
      properties:
        tcp:
          $ref: '#/components/schemas/ContainerGroupProbeTcp'
        http:
          $ref: '#/components/schemas/ContainerGroupProbeHttp'
        grpc:
          $ref: '#/components/schemas/ContainerGroupProbeGrpc'
        exec:
          $ref: '#/components/schemas/ContainerGroupProbeExec'
        initial_delay_seconds:
          default: 0
          minimum: 0
          type: integer
        period_seconds:
          default: 3
          minimum: 1
          type: integer
        timeout_seconds:
          default: 10
          minimum: 1
          type: integer
        success_threshold:
          default: 2
          minimum: 1
          type: integer
        failure_threshold:
          default: 1200
          minimum: 1
          type: integer
      required:
      - failure_threshold
      - initial_delay_seconds
      - period_seconds
      - success_threshold
      - timeout_seconds
    ContainerGroupState:
      additionalProperties: false
      description: Represents a container group state
      example:
        start_time: 2000-01-23T04:56:07.000+00:00
        instance_status_counts:
          creating_count: 0
          running_count: 0
          allocating_count: 0
          stopping_count: 0
        description: description
        finish_time: 2000-01-23T04:56:07.000+00:00
        status: pending
      properties:
        status:
          $ref: '#/components/schemas/ContainerGroupStatus'
        description:
          nullable: true
          type: string
        start_time:
          format: date-time
          type: string
        finish_time:
          format: date-time
          type: string
        instance_status_counts:
          $ref: '#/components/schemas/ContainerGroupInstanceStatusCount'
      required:
      - finish_time
      - instance_status_counts
      - start_time
      - status
    ContainerGroupStatus:
      enum:
      - pending
      - running
      - stopped
      - succeeded
      - failed
      - deploying
      type: string
    ContainerGroupsQuotas:
      example:
        max_created_container_groups: 0
        container_instance_quota: 6
        max_container_group_reallocations_per_minute: 0
        max_container_group_recreates_per_minute: 0
        max_container_group_restarts_per_minute: 0
      properties:
        max_created_container_groups:
          type: integer
        container_instance_quota:
          type: integer
        max_container_group_reallocations_per_minute:
          default: 10
          minimum: 0
          type: integer
        max_container_group_recreates_per_minute:
          default: 10
          minimum: 0
          type: integer
        max_container_group_restarts_per_minute:
          default: 10
          minimum: 0
          type: integer
      required:
      - container_instance_quota
      - max_created_container_groups
    ContainerNetworkingProtocol:
      enum:
      - http
      type: string
    ContainerProbeHttpScheme:
      enum:
      - http
      type: string
    ContainerResourceRequirements:
      additionalProperties: false
      description: Represents a container resource requirements
      example:
        storage_amount: 8785874870
        memory: 37439
        cpu: 2
        gpu_classes:
        - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      properties:
        cpu:
          maximum: 16
          minimum: 1
          type: integer
        memory:
          maximum: 61440
          minimum: 1024
          type: integer
        gpu_classes:
          items:
            format: uuid
            type: string
          nullable: true
          type: array
        storage_amount:
          format: int64
          maximum: 53687091200
          minimum: 1073741824
          nullable: true
          type: integer
      required:
      - cpu
      - memory
    ContainerRestartPolicy:
      enum:
      - always
      - on_failure
      - never
      type: string
    CountryCode:
      enum:
      - af
      - al
      - dz
      - as
      - ad
      - ao
      - ai
      - aq
      - ag
      - ar
      - am
      - aw
      - au
      - at
      - az
      - bs
      - bh
      - bd
      - bb
      - by
      - be
      - bz
      - bj
      - bm
      - bt
      - bo
      - bq
      - ba
      - bw
      - bv
      - br
      - io
      - bn
      - bg
      - bf
      - bi
      - cv
      - kh
      - cm
      - ca
      - ky
      - cf
      - td
      - cl
      - cn
      - cx
      - cc
      - co
      - km
      - cd
      - cg
      - ck
      - cr
      - hr
      - cu
      - cw
      - cy
      - cz
      - ci
      - dk
      - dj
      - dm
      - do
      - ec
      - eg
      - sv
      - gq
      - er
      - ee
      - sz
      - et
      - fk
      - fo
      - fj
      - fi
      - fr
      - gf
      - pf
      - tf
      - ga
      - gm
      - ge
      - de
      - gh
      - gi
      - gr
      - gl
      - gd
      - gp
      - gu
      - gt
      - gg
      - gn
      - gw
      - gy
      - ht
      - hm
      - va
      - hn
      - hk
      - hu
      - is
      - in
      - id
      - ir
      - iq
      - ie
      - im
      - il
      - it
      - jm
      - jp
      - je
      - jo
      - kz
      - ke
      - ki
      - kp
      - kr
      - kw
      - kg
      - la
      - lv
      - lb
      - ls
      - lr
      - ly
      - li
      - lt
      - lu
      - mo
      - mg
      - mw
      - my
      - mv
      - ml
      - mt
      - mh
      - mq
      - mr
      - mu
      - yt
      - mx
      - fm
      - md
      - mc
      - mn
      - me
      - ms
      - ma
      - mz
      - mm
      - na
      - nr
      - np
      - nl
      - nc
      - nz
      - ni
      - ne
      - ng
      - nu
      - nf
      - mp
      - "no"
      - om
      - pk
      - pw
      - ps
      - pa
      - pg
      - py
      - pe
      - ph
      - pn
      - pl
      - pt
      - pr
      - qa
      - mk
      - ro
      - ru
      - rw
      - re
      - bl
      - sh
      - kn
      - lc
      - mf
      - pm
      - vc
      - ws
      - sm
      - st
      - sa
      - sn
      - rs
      - sc
      - sl
      - sg
      - sx
      - sk
      - si
      - sb
      - so
      - za
      - gs
      - ss
      - es
      - lk
      - sd
      - sr
      - sj
      - se
      - ch
      - sy
      - tw
      - tj
      - tz
      - th
      - tl
      - tg
      - tk
      - to
      - tt
      - tn
      - tr
      - tm
      - tc
      - tv
      - ug
      - ua
      - ae
      - gb
      - um
      - us
      - uy
      - uz
      - vu
      - ve
      - vn
      - vg
      - vi
      - wf
      - eh
      - ye
      - zm
      - zw
      - ax
      type: string
    CreateContainer:
      additionalProperties: {}
      description: Represents a container
      example:
        image: image
        environment_variables:
          key: environment_variables
        resources:
          storage_amount: 8785874870
          memory: 37439
          cpu: 2
          gpu_classes:
          - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        logging:
          tcp:
            port: 36944
            host: host
          new_relic:
            host: host
            ingestion_key: ingestion_key
          datadog:
            api_key: api_key
            host: host
            tags:
            - name: name
              value: value
            - name: name
              value: value
            - name: name
              value: value
            - name: name
              value: value
            - name: name
              value: value
          splunk:
            host: host
            token: token
          http:
            path: path
            headers:
            - name: name
              value: value
            - name: name
              value: value
            - name: name
              value: value
            - name: name
              value: value
            - name: name
              value: value
            password: password
            port: 15087
            host: host
            format: json
            compression: none
            user: user
          axiom:
            api_token: api_token
            host: host
            dataset: dataset
        registry_authentication:
          gcp_gcr:
            service_key: service_key
          gcp_gar:
            service_key: service_key
          basic:
            password: password
            username: username
          aws_ecr:
            access_key_id: access_key_id
            secret_access_key: secret_access_key
          docker_hub:
            personal_access_token: personal_access_token
            username: username
        priority: high
        image_caching: true
        command:
        - command
        - command
        - command
        - command
        - command
      properties:
        image:
          maxLength: 1024
          minLength: 1
        resources:
          $ref: '#/components/schemas/ContainerResourceRequirements'
        command:
          description: Pass a command (and optional arguments) to override the ENTRYPOINT
            and CMD of a container image.
          items: {}
          maxItems: 100
          minItems: 0
        priority:
          $ref: '#/components/schemas/ContainerGroupPriority'
        environment_variables:
          additionalProperties: {}
        logging:
          $ref: '#/components/schemas/Container_logging'
        registry_authentication:
          $ref: '#/components/schemas/CreateContainer_registry_authentication'
        image_caching: {}
      required:
      - image
      - resources
    CreateContainerGroup:
      additionalProperties: false
      description: Represents a request to create a container group
      example:
        container:
          image: image
          environment_variables:
            key: environment_variables
          resources:
            storage_amount: 8785874870
[...]
